<% include ../layout/layout_open.html %>

<div id="view-member-dashboard" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 left-menu">
                <ul class="nav nav-pills nav-stacked well well-sm">
                    <li><a id="nav-order-pending" href='#tab-order-pending' data-toggle="tab" data-i18n="New Orders">新订单</a></li>
                    <li><a id="nav-order-fulfilled" href='#tab-order-fulfilled' data-toggle="tab" data-i18n="Fulfilled Orders">已完成订单</a></li>
                    <li><a id="nav-member-profile" href='#tab-member-profile' data-toggle="tab" data-i18n="Profile">我的资料</a></li>
                    <li><a id="nav-member-credit" href='#tab-member-credit' data-toggle="tab" data-i18n="Credits">我的积分</a></li>
                    <li><a id="nav-member-favorite" href='#tab-member-favorite' data-toggle="tab" data-i18n="Favorites">我的收藏</a></li>
                    <li><a id="nav-member-contact" href='#tab-member-contact' data-toggle="tab" data-i18n="Contacts">我的联络人</a></li>
                    <li><a id="nav-member-product" href='#tab-member-product' data-toggle="tab" data-i18n="My Orders">我的订购</a></li>
                </ul>
            </div>
            <div class="tab-content col-sm-9">
                <div class="tab-pane fade clearfix" id="tab-order-pending"></div>
                <div class="tab-pane fade clearfix" id="tab-order-fulfilled"></div>
                <div class="tab-pane fade" id="tab-member-profile"></div>
                <div class="tab-pane fade" id="tab-member-credit"></div>
                <div class="tab-pane fade" id="tab-member-favorite"></div>
                <div class="tab-pane fade" id="tab-member-contact"></div>
                <div class="tab-pane fade" id="tab-member-product"></div>
                <button class="btn btn-block show-more hidden" type="button" data-i18n="More...">More...</button>
            </div>
        </div>
        <div class="modal fade" id="payableModal" tabindex="-1" role="dialog">
            <form method="post" action="http://payment.clubmeiwei.com/pay/merchant.php">
                <input type="hidden" name="payment_no">
                <input type="hidden" name="amount">
                <input type="hidden" name="orderMono" value="">
                <input type="hidden" name="issBankNo" value="">
            </form>
            <div class="modal-dialog  payment-modal-box">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">预订成功</h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="payButton">支付订单</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
