<% include ../layout/layout_open.html %>

<div id="view-member-login" class="view">
    <section class="sign-up-sign-in">
        <header class="master-header">
            <nav class="navbar clearfix" role="navigation">
                <div class="pull-left">
                    <a class="navbar-brand" href="/" data-i18n="Return to Homepage">返回首页</a>
                </div>
                <div class="pull-right">
                    <p class="navbar-text pull-right toggle-sign-in hide">
                        <a data-toggle="tab" href="#sign-in-form" class="navbar-link" data-i18n="Already Have an Account?">已经注册？点击登录。</a>
                    </p>
                    <p class="navbar-text pull-right toggle-sign-up hide">
                        <a data-toggle="tab" href="#sign-up-form" class="navbar-link" data-i18n="Or Create Your Account">还没注册？点击注册。</a>
                    </p>
                    <p class="navbar-text hide"></p>
                </div>
                <a class="logo" href="/">
                    <img class="img-circle" src="<%- STATIC_URL %>img/logo@100x100.jpg" alt="">
                </a>
                <div class="logo-hover text-center"><strong>美 位 网</strong></div>
            </nav>
        </header>
        <div class="tab-content">
            <form role="form" class="sign-up-form tab-pane fade active in" id="sign-up-form">
                <legend><h1 data-i18n="Join Us">加入美位</h1></legend>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                        <input type="text" class="form-control input-lg" name="username" data-placeholder-i18n="Mobile/Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        <input type="password" class="form-control input-lg" name="password" data-placeholder-i18n="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        <input type="password" class="form-control input-lg" name="password-confirm" data-placeholder-i18n="Confirm Password">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-lg" type="submit" data-i18n="Register">注册</button>
                    <span class="help-block non_field_errors"></span>
                </div>
            </form>
            <form role="form" class="sign-in-form tab-pane fade" id="sign-in-form">
                <legend><h1 data-i18n="Login">登录</h1></legend>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="text" class="form-control input-lg" name="username" data-placeholder-i18n="Mobile/Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        <input type="password" class="form-control input-lg" name="password" data-placeholder-i18n="Password">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-lg" type="submit" data-i18n="Login">登录</button>
                    <span class="help-block non_field_errors"></span>
                </div>
            </form>
        </div>
    </section>
    <section class="stream hidden-xs"></section>
</div>

<% include ../layout/layout_close.html %>
