<p class="border-bottom-line p-first">
    <span>订单号：<strong>{{ order_no }}</strong></span>
    <span>{{ #arrival }}入港服务{{ /arrival }}{{ ^arrival }}出港服务{{ /arrival }}</span>
    {{ #payment_status }}
    <span class="pay-ok"><strong>￥{{ payment.amount }}</strong></span>
    <span class="pay-ok"><i class="fa fa-check"></i><strong>已支付</strong></span>
    {{ /payment_status }}
    {{ ^payment_status }}
    <span class="not-pay"><strong>未支付</strong></span>
    <span class="not-pay"><strong>￥{{ payment.amount }}</strong></span>
    {{ /payment_status }}
</p>
<p>
    <span>航班号：<strong>{{ attributes.flight_no }}</strong></span>
    <span>{{ attributes.datetime }}</span>
    <span data-i18n="{{attributes.airport}}">{{ attributes.airport }}</span>
    <span>{{ #arrival }}降落{{ /arrival }}{{ ^arrival }}起飞{{ /arrival }}</span>
</p>
<p class="border-bottom-line">
        <span>联系人：
                        {{ name_local }}
                {{ ^gender }}先生{{ /gender }}
                {{ #gender }}小姐{{ /gender }}
                </span><span><strong>{{ mobile }}</strong></span>

</p>
<div class="table-container">
    <table>
        <tbody>
        <tr>
            <td style="vertical-align: text-top"><span>贵宾信息：</span></td>
            <td>
                {{ #attributes.guests }}
                <ul class="list-inline list-unstyled">
                    <li>
                <span>{{name}}
                {{ ^gender }}先生</span>{{ /gender }}
                        {{ #gender }}小姐</span>{{ /gender }}
                    </li>
                    <li>
                        <span>{{id_no}}</span>
                    </li>
                </ul>
                {{ /attributes.guests }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p class="border-bottom-line">
    {{ #attributes.accompany }}
    <span>{{ attributes.accompany }}人陪同</span>
    {{ /attributes.accompany }}
    {{ ^attributes.accompany }}
    <span>无人陪同</span>
    {{ /attributes.accompany }}
    <span>车牌：{{ attributes.car_no }}</span>
    <span>接送地点：{{ attributes.address }}</span>
</p>
<p>
    <span>备注：{{ comment }}</span>
</p>


