<table class="table table-condensed">
    <tbody>
    <tr>
        <th data-i18n="Name">称呼:</th>
        <td>{{name}}</td>
    </tr>
    <tr>
        <th data-i18n="Mobile">手机:</th>
        <td>{{mobile}}</td>
    </tr>
    <tr>
        <th data-i18n="Date">时间:</th>
        <td>{{datetime}}</td>
    </tr>
    <tr>
        <th data-i18n="People">人数:</th>
        <td>{{people}}</td>
    </tr>
    <tr>
        <th data-i18n="Address">地址:</th>
        <td>{{address}}</td>
    </tr>
    </tbody>
</table>

