<table class="table table-condensed">
    <tr>
        <th data-i18n="Services Type">服务类型</th>
        {{ #arrival }}
        <td data-i18n="Arrival Service">入港服务</td>
        {{ /arrival }}
        {{ ^arrival }}
        <td data-i18n="Departure Service">出港服务</td>
        {{ /arrival }}
    </tr>
    <tr>
        <th data-i18n="Contacts">联系人</th>
        <td>
            {{ name_local }}
            {{ ^gender }}<span data-i18n="Mr.">先生</span>{{ /gender }}
            {{ #gender }}<span data-i18n="Ms.">小姐</span>{{ /gender }}
        </td>
    </tr>
    <tr>
        <th data-i18n="Mobile">联系方式</th>
        <td>{{ mobile }}</td>
    </tr>
    <tr>
        <th data-i18n="Flight No.">航班号</th>
        <td>{{ flight_no }}</td>
    </tr>
    <tr>
        {{ #arrival }}
        <th data-i18n="Airport Arrival">到达机场</th>
        {{ /arrival }}
        {{ ^arrival }}
        <th data-i18n="Airport Departure">出发机场</th>
        {{ /arrival }}
        <td data-i18n="{{airport}}">{{ airport }}</td>
    </tr>
    <tr>
        {{ #arrival }}
        <th data-i18n="Airport Arrival Time">降落时间</th>
        {{ /arrival }}
        {{ ^arrival }}
        <th data-i18n="Airport Departure Time">起飞时间</th>
        {{ /arrival }}
        <td>{{ datetime }}</td>
    </tr>
    <tr>
        <th data-i18n="Car No.">车牌号</th>
        <td>{{ car_no }}</td>
    </tr>
    <tr>
        <th data-i18n="Pick-up Location">接送地点</th>
        <td>{{ address }}</td>
    </tr>
    <tr>
        <th data-i18n="Guest Information">贵宾信息</th>
    </tr>
    <tr>
        <td colspan="2">
            <table class="guest-table table table-condensed table-hover table-striped">
                {{ #guests }}
                <tr>
                    <td>
                            <span>{{name}}{{ ^gender }}<span data-i18n="Mr.">先生</span>{{ /gender }}
                        {{ #gender }}<span data-i18n="Ms.">小姐</span>{{ /gender }}</span>
                    </td>
                    <td>
                        <span>{{id_no}}</span>
                    </td>
                </tr>
                {{ /guests }}
            </table>
        </td>
    </tr>
    <tr>
        <th data-i18n="Accompanies">陪同人数</th>
        <td>{{ accompany }}</td>
    </tr>
    <tr>
        <th data-i18n="Payed Amount">支付金额</th>
        <td>{{ amount }}</td>
    </tr>
    {{ #comment }}
    <tr>
        <th data-i18n="Comment">备注</th>
        <td>{{ comment }}</td>
    </tr>
    {{ /comment }}
</table>


