<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">预定成功</h4>
        </div>
        <div class="modal-body order-success-prompt">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">您的订单信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-i18n="Name">称呼:</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td data-i18n="Mobile">手机:</td>
                    <td>{{mobile}}</td>
                </tr>
                <tr>
                    <td data-i18n="Date">时间:</td>
                    <td>{{datetime_local}}</td>
                </tr>
                <tr>
                    <td data-i18n="People">人数:</td>
                    <td>{{people}}</td>
                </tr>
                <tr>
                    <td data-i18n="Address">地址:</td>
                    <td>{{address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="/" type="button" class="btn btn-primary" data-i18n="Return to Homepage">返回首页</a>
        </div>
    </div>
</div>
