<h3 class="text-center">{{name}}</h3>
{{#hasPrice}}<h4 class="text-center">定价: {{price}}元</h4>{{/hasPrice}}
{{#description}}<p class="text-center">{{description}}</p>{{/description}}
{{#picture}}
<img class="img-responsive product-img" src="{{picture}}">
{{/picture}}
