<header class="text-center">
    <h2>
        <img class="deco-line hidden-xs" src="/assets/img/horizontal-left.png">
        <span class="deco-text">{{ name }}</span>
        <img class="deco-line hidden-xs" src="/assets/img/horizontal-right.png">
    </h2>
    <p>{{ parent_description }}</p>
</header>
<ul class="product-nav nav nav-tabs nav-justified">
    {{#filter}}
    <li><a href="javascript:void(0)" data-filter="{{items}}">
        <h5>{{name}}</h5>
    </a></li>
    {{/filter}}
</ul>
<div class="row">
    {{ #productitem_set }}
    <div class="col-md-3 col-sm-4 col-xs-6 product-item" data-item="product-item{{id}}">
        <div class="product-item-wrapper">
            {{#picture}}<a class="product-img" href="/product/{{id}}"><img src="{{picture}}"></a>{{/picture}}
            <div class="caption text-center">
                <a class="" href="/product/{{id}}"><h5 class="product-name">{{name}}</h5></a>
                {{#hasPrice}}<h5>{{price}}元</h5>{{/hasPrice}}
                {{#description}}<p>{{description}}</p>{{/description}}
            </div>
        </div>
    </div>
    {{ /productitem_set }}
</div>
