<table class="table table-condensed">
    <tr>
        <th>服务</th>
        <td>{{product_name}}</td>
    </tr>
    <tr>
        <th data-i18n="Contacts">联系人</th>
        <td>
            {{ name }}
            {{ ^gender }}<span data-i18n="Mr.">先生</span>{{ /gender }}
            {{ #gender }}<span data-i18n="Ms.">小姐</span>{{ /gender }}
        </td>
    </tr>
    <tr>
        <th data-i18n="Mobile">联系方式</th>
        <td>{{ mobile }}</td>
    </tr>
    <tr>
        <th data-i18n="Date">日期</th>
        <td>{{ datetime }}</td>
    </tr>
    <tr>
        <th data-i18n="Address">地址</th>
        <td>{{ address }}</td>
    </tr>
    {{ #comment }}
    <tr>
        <th data-i18n="Comment">备注</th>
        <td>{{ comment }}</td>
    </tr>
    {{ /comment }}
</table>
<p class="well-sm order-prompt-paragraph"
   data-i18n="We will contact you as soon as possible,thanks for order our service">美位网客服将尽快与您联系，和您进一步沟通服务预订的需求。</p>

