<div class="modal fade confirm-dialog" id="confirm-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            {{#title}}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">{{&title}}</div>
            </div>
            {{/title}}
            <div class="modal-body">
                {{&content}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal" data-i18n="Close"></button>
                <button type="button" class="btn btn-primary btn-confirm" data-i18n="Confirm"></button>
            </div>
        </div>
    </div>
</div>
