<% include ../layout/layout_open.html %>

<div id="view-product-cake" class="view">
    <!--<% include ../layout/header.html %>-->
    <div class="cake-ad-title">
        <img class="img-responsive" src="/assets/img/cake/banner-01.jpg">
    </div>
    <div class="container cake-category-box">
        <p class="row cake-title-text">
            <span class="zh-text">生日</span><span class="en-text"> Birthday</span>
        </p>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="cake-img-container">
                    <a href="/product/97"><img class="img-responsive" src="/assets/img/cake/cake_03.jpg"></a>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4">
                <div class="cake-img-container">
                    <a href="/product/99"><img class="img-responsive" src="/assets/img/cake/cake_04.jpg"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="cake-img-container">
                    <a href="/product/98"><img class="img-responsive" src="/assets/img/cake/cake_05.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container cake-category-box">
        <p class="row cake-title-text">
            <span class="zh-text">庆典</span><span class="en-text"> Celebrity</span>
        </p>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="cake-img-container">
                    <a href="/product/100"><img class="img-responsive" src="/assets/img/cake/cake_09.jpg"></a>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4">
                <div class="cake-img-container">
                    <a href="/product/101"><img class="img-responsive" src="/assets/img/cake/cake_10.jpg"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="cake-img-container">
                    <a href="/product/102"><img class="img-responsive" src="/assets/img/cake/cake_11.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container cake-category-box">
        <p class="row cake-title-text">
            <span class="zh-text">甜点</span><span class="en-text"> Dessert</span>
        </p>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="cake-img-container">
                    <a href="/product/103"><img class="img-responsive" src="/assets/img/cake/cake_14.jpg"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="cake-img-container">
                    <a href="/product/105"><img class="img-responsive" src="/assets/img/cake/1.jpg"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="cake-img-container">
                    <a href="/product/104"><img class="img-responsive" src="/assets/img/cake/2.jpg"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="cake-img-container">
                    <a href="/product/106"><img class="img-responsive" src="/assets/img/cake/3.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <!--<% include ../layout/footer.html %>-->
</div>

<% include ../layout/layout_close.html %>
