<% include ../layout/layout_open.html %>
<div class="view" id="view-order-product">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <article class="product-info">

                </article>
            </div>
            <div class="col-sm-7 col-md-6 col-md-offset-1 order-form-box">
                <form class="form-horizontal well" onsubmit="return false" role="form" id="product-order-form" method="post">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="bg-success form-prompt">请填写联系人信息</div>
                        </div>
                    </div>                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <select class="form-control contact-list"></select>
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label" data-i18n="Name">姓名</label>
                        <div class="col-sm-6 col-xs-6">
                            <input type="text" name="name" class="form-control" placeholder="姓名" data-placeholder-i18n="Name">
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <select name="gender" class="form-control">
                                <option value="0" selected>先生</option>
                                <option value="1">小姐</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" data-i18n="Mobile">手机</label>
                        <div class="col-sm-10">
                            <input type="tel" name="mobile" class="form-control" placeholder="手机" data-placeholder-i18n="Mobile">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="bg-success form-prompt">请输入收货日期和地址</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" data-i18n="Date">日期</label>
                        <div class="col-sm-10">
                            <input type="text" name="datetime" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" data-i18n="Address">地址</label>
                        <div class="col-sm-10">
                            <input type="text" name="address" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="bg-success form-prompt">
                                给美位留言，填写您的预订要求，例如蛋糕尺寸，大小等
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" data-i18n="Comment">备注</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="comment" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-block" data-i18n="Submit Order">提交订单</button>
                        </div>
                        <span class="help-block non_field_errors col-sm-10 col-sm-offset-2"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
