<% include ../layout/layout_open.html %>

<div id="view-product-list" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <ul class="category-nav nav nav-tabs nav-justified hidden-xs">
            <li>
                <a href="javascript:void(0)" data-filter="0" class="active">
                    <h5>全部</h5>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-filter="39,40,41">
                    <h5>蛋糕</h5>
                </a>
                <ul class="subnav nav nav-tabs nav-justified">
                    <li><a href="javascript:void(0)" data-filter="39">
                        <h5>生日</h5>
                    </a></li>
                    <li><a href="javascript:void(0)" data-filter="40">
                        <h5>庆典</h5>
                    </a></li>
                    <li><a href="javascript:void(0)" data-filter="41">
                        <h5>甜点</h5>
                    </a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)" data-filter="21">
                    <h5>鲜花</h5>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-filter="31">
                    <h5>红酒</h5>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-filter="32">
                    <h5>派对造型</h5>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-filter="28">
                    <h5>其他服务</h5>
                </a>
            </li>
        </ul>
        <div class="product-box-list"></div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
