<% include ../layout/layout_open.html %>

<div class="view simple-view">
    <% include ../layout/header.html %>
    <div class="container">
        
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
