<% include ../layout/layout_open.html %>
<div id="view-order-airport" class="">
    <!--<% include ../layout/header.html %>-->
    <div class="container" style="max-width: 510px;margin-top: 10px">
        <div class="">
            <header><h2 class="text-center">VVIP接送机服务</h2></header>
            <article>
                <p>
                    上海明航商务服务中心为个人或企业VVIP用户开放提供全程化的接送机私人管家服务（以前只是对部级以上的领导开放）。服务包括所在地至机场专车接送、协助办票、托运或提取行李、贵宾室服务、贵宾室专属安检、停机坪专车摆渡、会员车辆临时停放安排等。</p>

                <p>
                    上海明航商务服务中心VVIP接送机服务旨在为会员提供最高端的个人及商务服务和最全面的休闲设施。包括免费VVIP客房、咖啡吧、会议室等，此外，还可免费提供茶水、咖啡、饮料、点心、书报杂志等。</p>
            </article>
            <table class="table table-bordered">
                <tr>
                    <th rowspan="2">国内服务</th>
                    <td>北京、上海、广州地区</td>
                    <td class="success">1,500元/次</td>
                </tr>
                <tr>
                    <td>其他业务开通城市</td>
                    <td class="success">800元/次</td>
                </tr>
                <tr>
                    <th rowspan="2">国际服务<br>(暂不提供预订)</th>
                    <td>不含出入境过关手续代办</td>
                    <td class="success">1,500元/次</td>
                </tr>
                <tr>
                    <td>含出入境过关手续代办</td>
                    <td class="success">13,500元/次</td>
                </tr>
                <tr>
                    <th>陪同服务</th>
                    <td>安排外部人员陪同接送</br>请至少在航班起飞前24小时通知我们</td>
                    <td class="success">500元/人/次</td>
                </tr>
            </table>
        </div>
        <div class="">
            <div class="panel panel-default hidden">
                <div class="panel-heading">资费说明</div>
                <div class="panel-body">
                    <h4>国内服务</h4>

                    <p>北京/上海/广州地区1500元/次</p>

                    <p>其他业务开通城市800元/次</p>
                    <h4>国际服务</h4>

                    <p>不含出入境过关手续代办1500元/次</p>

                    <p>含出入境过关手续代办13500元/次</p>
                    <h4>陪同服务</h4>

                    <p>500元/人/次</p>

                    <p>安排外部人员陪同接送，需至少在航班起飞前24小时通知我们</p>
                </div>
            </div>
            <h3>服务流程</h3>
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/vvip-departure.jpg" alt="">

                <div class="caption">
                    <h4>出港服务</h4>
                    <ol>
                        <li>美位预订</li>
                        <li>专车接贵宾至机场（仅限上海地区）</li>
                        <li>贵宾至贵宾室休息</li>
                        <li>专人代办登机等手续</li>
                        <li>贵宾室专属独家安检</li>
                        <li>专车接贵宾至停机坪</li>
                        <li>专人引导贵宾登机</li>
                    </ol>
                </div>
            </div>
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/vvip-arrival.jpg" alt="">

                <div class="caption">
                    <h4>入港服务</h4>
                    <ol>
                        <li>美位预订</li>
                        <li>接机车辆到达专用停车场</li>
                        <li>专人举牌在停机坪迎接贵宾</li>
                        <li>专人代提取行李</li>
                        <li>专车接贵宾至专用停车场</li>
                        <li>专人引导贵宾与接机人会合</li>
                        <li>专车送贵宾至市区（仅限上海地区）</li>
                    </ol>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>备注</strong></div>
                <div class="panel-body">
                    <p>
                        所有航班的取消或更改必须在航班预定时间（出发航班指起飞时间，到达航班指落地时间）的3小时前通知上海明航商务服务中心，3小时内提出将视同完成服务，并全额收取服务费（3小时前通知将不收取任何费用）</p>

                    <p>预约需至少在航班起飞前4小时提出，预约服务若在航班起飞前1-3小时内提出，所有费用将按双倍收取</p>

                    <p>行李逾重费、保险费等费用需自理</p>

                    <p>各机场贵宾服务略有差异，以当地贵宾服务内容为准</p>
                </div>
            </div>
        </div>

    </div>
    <!--<% include ../layout/footer.html %>-->
</div>
<% include ../layout/layout_close.html %>
