<% include ../layout/layout_open.html %>

<div id="view-staff-dashboard" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked well well-sm">
                    <li><a id="nav-orders-new" href='#tab-orders-new' data-toggle="tab">新订单</a></li>
                    <li><a id="nav-orders-pending" href='#tab-orders-pending' data-toggle="tab">未完成订单</a></li>
                    <li><a id="nav-orders-fulfilled" href='#tab-orders-fulfilled' data-toggle="tab">已完成订单</a></li>
                    <!--<li><a target="_blank" href='http://api.clubmeiwei.com/staffservice/msgpage'>发送短信</a></li>-->
                </ul>
            </div>
            <div class="tab-content col-sm-9">
                <div class="tab-pane fade" id="tab-orders-new"></div>
                <div class="tab-pane fade" id="tab-orders-pending"></div>
                <div class="tab-pane fade" id="tab-orders-fulfilled"></div>
                <div class="tab-pane fade" id="tab-restaurant-detail"></div>
                <button class="btn btn-block show-more hidden" type="button" data-i18n="More...">More...</button>
            </div>
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
