<% include ../layout/layout_open.html %>
<div class="view" id="view-coupon-validate">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="order-form-box well">
            <form class="form-horizontal" onsubmit="return false" role="form" id="validate-form" method="post">
                <legend class="large-margin-bottom"><h2>美位网优惠券验证系统</h2></legend>
                <div class="form-group large-margin-bottom">
                    <div class="col-sm-12">
                        <input type="text" name="coupon_no" class="form-control input-lg" placeholder="请输入优惠券序列号">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block input-lg btn-confirm">验证</button>
                    </div>
                    <span class="help-block non_field_errors col-sm-12"></span>
                </div>
            </form>
        </div>

    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
