<% include ../layout/layout_open.html %>
<div id="view-order-airport" class="view">
<% include ../layout/header.html %>
<div class="container">
<div class="row">
<div class="col-sm-8 left-panel">
<header><h2 class="text-center">VVIP接送机服务</h2></header>
<article>
    <p>
        上海明航商务服务中心为个人或企业VVIP用户开放提供全程化的接送机私人管家服务（以前只是对部级以上的领导开放）。服务包括所在地至机场专车接送、协助办票、托运或提取行李、贵宾室服务、贵宾室专属安检、停机坪专车摆渡、会员车辆临时停放安排等。</p>

    <p>上海明航商务服务中心VVIP接送机服务旨在为会员提供最高端的个人及商务服务和最全面的休闲设施。包括免费VVIP客房、咖啡吧、会议室等，此外，还可免费提供茶水、咖啡、饮料、点心、书报杂志等。</p>
    <!--<h4 class="text-right"><a href="#order-form">立即预订 >></a></h4>-->
</article>
<table class="table table-bordered">
    <tr>
        <th rowspan="2">国内服务</th>
        <td>北京、上海、广州地区</td>
        <td class="success">1,500元/次</td>
    </tr>
    <tr>
        <td>其他业务开通城市</td>
        <td class="success">800元/次</td>
    </tr>
    <tr>
        <th rowspan="2">国际服务<br>(暂不提供预订)</th>
        <td>不含出入境过关手续代办</td>
        <td class="success">1,500元/次</td>
    </tr>
    <tr>
        <td>含出入境过关手续代办</td>
        <td class="success">13,500元/次</td>
    </tr>
    <tr>
        <th>陪同服务</th>
        <td>安排外部人员陪同接送</br>请至少在航班起飞前24小时通知我们</td>
        <td class="success">500元/人/次</td>
    </tr>
</table>
<section class="well well-lg order-form" id="order-form">
    <form role="form" class="">
        <legend><h4 class="">预订VVIP国内出港/入港服务</h4></legend>
        <div class="bg-success form-prompt">贵宾信息</div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="guest_name" placeholder="贵宾姓名"
                           data-placeholder-i18n="Name">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="form-group">
                    <select class="form-control" name="guest_gender">
                        <option selected value="0" data-i18n="Mr.">先生</option>
                        <option value="1" data-i18n="Ms.">小姐</option>
                    </select>
                </div>
            </div>
            <div clsss="clearfix visible-xs"></div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <input type="text" class="form-control" name="guest_id_no" placeholder="身份证号码">
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="form-group">
                    <a class="btn btn-primary btn-block add-client">添加贵宾</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="guest-list"></div>
        </div>
                <div class="bg-success form-prompt">联系人信息</div>
        <div class="form-group">
            <select class="form-control contact-list"></select>
        </div>
        <div class="form-group">
            <label class="control-label" data-i18n="Name">姓名</label>

            <div class="row">
                <div class="col-sm-8 col-xs-6">
                    <input type="text" name="name" class="form-control" placeholder="姓名" data-placeholder-i18n="Name">
                </div>
                <div class="col-sm-4 col-xs-6">
                    <select name="gender" class="form-control">
                        <option value="0" selected>先生</option>
                        <option value="1">小姐</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-i18n="Mobile">手机</label>
            <input type="tel" name="mobile" class="form-control" placeholder="手机" data-placeholder-i18n="Mobile">
        </div>
                <div class="bg-success form-prompt">预定信息</div>
        <div class="form-group">
            <label data-i18n="Flight No.">航班号</label>
            <input type="text" class="form-control" name="flight_no" placeholder="航班号"
                   data-placeholder-i18n="Flight No.">
        </div>
        <div class="form-group">
            <label>请提供车牌号以安排机场专用车位</label>
            <input type="text" class="form-control" name="car_no" placeholder="车牌号" data-placeholder-i18n="Car No.">
        </div>
        <div class="form-group order-type">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="service_type" value="arrival">
                    <span>国内入港服务</span>
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="service_type" value="departure">
                    <span>国内出港服务</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="datetime-addon">起飞时间</label>
            <input type="text" class="form-control" name="datetime">
        </div>
        <div class="form-group">
            <label>
                <span class="airport-addon">出发机场</span>
                <span>（北京、上海、广州￥1500/人，其它城市￥800/人）</span>
            </label>
            <select class="form-control" name="airport">
                <option value="">选择机场</option>
                <option value="PVG">上海浦东国际机场</option>
                <option value="SHA">上海虹桥国际机场</option>
                <option value="PEK">北京首都国际机场</option>
                <option value="CAN">广州白云国际机场</option>
                <option value="CTU">成都双流国际机场</option>
                <option value="HGH">杭州萧山国际机场</option>
                <option value="CSX">长沙黄花国际机场</option>
                <option value="NGB">宁波栎社国际机场</option>
                <option value="KHN">南昌昌北国际机场</option>
                <option value="KMG">昆明长水国际机场</option>
                <option value="NKG">南京禄口国际机场</option>
                <option value="SYX">三亚凤凰国际机场</option>
                <option value="SZX">深圳宝安国际机场</option>
                <option value="XIY">西安咸阳国际机场</option>
                <option value="SHE">沈阳桃仙国际机场</option>
                <option value="TAO">青岛流亭国际机场</option>
                <option value="WUX">无锡苏南国际机场</option>
                <option value="HAK">海口美兰国际机场</option>
                <option value="NNG">南宁吴圩国际机场</option>
                <option value="TSN">天津滨海国际机场</option>
                <option value="XMN">厦门高崎国际机场</option>
                <option value="CKG">重庆江北国际机场</option>
                <option value="FOC">福州长乐国际机场</option>
                <option value="WUH">武汉天河国际机场</option>
                <option value="DYG">张家界荷花机场</option>
                <option value="YNT">烟台莱山机场</option>
                <option value="URC">乌鲁木齐地窝堡国际机场</option>
                <option value="KWE">贵阳龙洞堡国际机场</option>
                <option value="WNZ">温州龙湾国际机场</option>
                <option value="LJG">丽江机场</option>
                <option value="KWL">桂林两江机场</option>
                <option value="JHG">西双版纳机场</option>
                <option value="TYN">太原武宿机场</option>
                <option value="HET">呼和浩特白塔国际机场</option>
                <option value="HRB">哈尔滨太平国际机场</option>
                <option value="INC">银川河东机场</option>
                <option value="JJN">泉州晋江机场</option>
                <option value="DSN">鄂尔多斯机场</option>
                <option value="CZX">常州奔牛机场</option>
                <option value="XUZ">徐州观音机场</option>
                <option value="MIG">绵阳南郊机场</option>
                <option value="KOW">赣州黄金机场</option>
                <option value="HKG">香港国际机场</option>
                <option value="MFM">澳门国际机场</option>
            </select>
        </div>
        <div class="form-group">
            <label>陪同人数（500元/人/次，最多两人，请至少提前24小时通知）</label>
            <select class="form-control" name="accompany">
                <option selected value="0">无人陪同</option>
                <option value="1">1人陪同</option>
                <option value="2">2人陪同</option>
            </select>
        </div>
        <div class="form-group">
            <label>接送地点（专车免费接送，仅限上海地区）</label>

            <div class="input-group">
                <span class="input-group-addon">上海市</span>
                <input type="text" class="form-control" name="address" placeholder="地址"
                       data-placeholder-i18n="Address">
            </div>
        </div>
        <div class="form-group">
            <label>其他要求</label>
            <textarea class="form-control" name="comment"></textarea>
        </div>
        <div class="form-group">
            <span data-i18n="By clicking Confirm, you agree and that you have read our Services Policy">点击确认即表明你同意且你已阅读过我们的</span>
            <a class="service-protocol-link" data-toggle="modal" data-target="#service-protocol-modal"
               data-i18n="Services Policy">服务条款</a>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" data-i18n="Confirm">确认</button>
            <span class="help-block non_field_errors"></span>
        </div>
    </form>
    <div class="modal fade service-protocol-modals" id="service-protocol-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">服务条款</h4>
                </div>
                <div class="modal-body">
                    服务条款
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="col-sm-4 right-panel">
    <div class="panel panel-default hidden">
        <div class="panel-heading">资费说明</div>
        <div class="panel-body">
            <h4>国内服务</h4>

            <p>北京/上海/广州地区1500元/次</p>

            <p>其他业务开通城市800元/次</p>
            <h4>国际服务</h4>

            <p>不含出入境过关手续代办1500元/次</p>

            <p>含出入境过关手续代办13500元/次</p>
            <h4>陪同服务</h4>

            <p>500元/人/次</p>

            <p>安排外部人员陪同接送，需至少在航班起飞前24小时通知我们</p>
        </div>
    </div>
    <h3>服务流程</h3>

    <div class="thumbnail">
        <img class="img-responsive" src="/assets/img/vvip-departure.jpg" alt="">

        <div class="caption">
            <h4>出港服务</h4>
            <ol>
                <li>美位预订</li>
                <li>专车接贵宾至机场（仅限上海地区）</li>
                <li>贵宾至贵宾室休息</li>
                <li>专人代办登机等手续</li>
                <li>贵宾室专属独家安检</li>
                <li>专车接贵宾至停机坪</li>
                <li>专人引导贵宾登机</li>
            </ol>
        </div>
    </div>
    <div class="thumbnail">
        <img class="img-responsive" src="/assets/img/vvip-arrival.jpg" alt="">

        <div class="caption">
            <h4>入港服务</h4>
            <ol>
                <li>美位预订</li>
                <li>接机车辆到达专用停车场</li>
                <li>专人举牌在停机坪迎接贵宾</li>
                <li>专人代提取行李</li>
                <li>专车接贵宾至专用停车场</li>
                <li>专人引导贵宾与接机人会合</li>
                <li>专车送贵宾至市区（仅限上海地区）</li>
            </ol>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading"><strong>备注</strong></div>
        <div class="panel-body">
            <p>所有航班的取消或更改必须在航班预定时间（出发航班指起飞时间，到达航班指落地时间）的3小时前通知上海明航商务服务中心，3小时内提出将视同完成服务，并全额收取服务费（3小时前通知将不收取任何费用）</p>

            <p>预约需至少在航班起飞前4小时提出，预约服务若在航班起飞前1-3小时内提出，所有费用将按双倍收取</p>

            <p>行李逾重费、保险费等费用需自理</p>

            <p>各机场贵宾服务略有差异，以当地贵宾服务内容为准</p>
        </div>
    </div>
</div>
</div>
</div>
<!--<% include ../layout/footer.html %>-->
</div>
<div class="modal fade" id="payableModal" tabindex="-1" role="dialog">
    <form method="post" action="http://payment.clubmeiwei.com/pay/merchant.php">
        <input type="hidden" name="payment_no">
        <input type="hidden" name="amount">
        <input type="hidden" name="orderMono">
        <input type="hidden" name="issBankNo" value="">
    </form>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">预订成功</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回修改</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="payButton">支付订单</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<% include ../layout/layout_close.html %>
