<% include ../layout/layout_open.html %>
<div id="view-order-pingan" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="row">
            <section class="service-intro col-md-6">
                <header><h3 class="text-center">平安银行套餐</h3></header>
                <div class="menu-image">
                    <img src="/assets/img/servicespingan/1.jpg">
                </div>
                <div class="menu-image">
                    <img src="/assets/img/servicespingan/2.jpg">
                </div>
                <div class="menu-image">
                    <img src="/assets/img/servicespingan/3.jpg">
                </div>
                <div class="menu-image">
                    <img src="/assets/img/servicespingan/4.jpg">
                </div>
                <div class="menu-image">
                    <img src="/assets/img/servicespingan/5.jpg">
                </div>
                <div class="menu-image">
                    <img src="/assets/img/servicespingan/6.jpg">
                </div>
                <div class="clearfix"></div>
            </section>
            <div class="col-md-6 pingan-order-box well">
                <header>
                    <h3 data-i18n="Order Now">立即预定</h3>
                    <p class="menu-description"></p>
                </header>
                <div class="pingan-order-form" id="pingan-order-form">
                    <form role="form" class="pingan-form" method="post">
                        <div class="form-group">
                            <label class="" data-i18n="Name">姓名</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="" data-i18n="Gender">称呼</label>
                            <select name="gender" class="form-control">
                                <option value="0" data-i18n="Mr.">先生</option>
                                <option value="1" data-i18n="Ms.">小姐</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="" data-i18n="Mobile">手机</label>
                            <input type="tel" name="mobile" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label class="" data-i18n="Date">日期</label>
                            <input type="text" name="datetime" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label class="" data-i18n="People">人数</label>
                            <input type="number" name="people" value="1" min="1" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="">请留下您的地址，我们提供豪车接送</label>
                            <input type="text" name="address" class="form-control" value="">
                        </div>
                        <div class="form-group hidden">
                            <label class=""></label>
                            <input type="hidden" name="coupon" value="">
                        </div>
                        <div class="form-group">
                            <div class="">
                                <button type="submit" class="btn btn-primary btn-block" data-i18n="Submit">立即预定</button>
                            </div>
                            <span class="help-block non_field_errors "></span>
                        </div>
                    </form>
                </div>
                <div class="modal fade order-success-modal"
                     id="order-success-modal" tabindex="-1" role="dialog">
                </div>
            </div>
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>
<% include ../layout/layout_close.html %>
