<% include ../layout/layout_open.html %>

<div id="view-vvip-dashboard" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 left-menu">
                <ul class="nav nav-pills nav-stacked well well-sm">
                    <li><a id="nav-order-pending" href='#tab-order-pending' data-toggle="tab" data-i18n="New Orders">新订单</a></li>
                    <li><a id="nav-order-confirmed" href='#tab-order-confirmed' data-toggle="tab" data-i18n="Confirmed Orders">已确认订单</a></li>
                    <li><a id="nav-order-fulfilled" href='#tab-order-fulfilled' data-toggle="tab" data-i18n="Fulfilled Orders">已完成订单</a></li>
                </ul>
            </div>
            <div class="tab-content col-sm-9">
                <div class="tab-pane fade clearfix" id="tab-order-pending"></div>
                <div class="tab-pane fade clearfix" id="tab-order-confirmed"></div>
                <div class="tab-pane fade clearfix" id="tab-order-fulfilled"></div>
                <button class="btn btn-block show-more hidden" type="button" data-i18n="More...">More...</button>
            </div>
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
