<div class="text-center">
    {{ #arrival }}
    <h4 data-i18n="Arrival Service">入港服务</h4>
    {{ /arrival }}
    {{ ^arrival }}
    <h4 data-i18n="Departure Service">出港服务</h4>
    {{ /arrival }}
</div>
<div class="caption">
    <table class="table table-condensed">
        <tr>
            <th data-i18n="Order Date">订单日期</th>
            <td>{{ time_created }}</td>
        </tr>
        <tr>
            <th data-i18n="Order No">订单号</th>
            <td>{{ order_no }}</td>
        </tr>
        <tr>
            <th data-i18n="Contacts">联系人</th>
            <td>
                {{ name }}
                {{ ^gender }}<span data-i18n="Mr.">先生</span>{{ /gender }}
                {{ #gender }}<span data-i18n="Ms.">小姐</span>{{ /gender }}
            </td>
        </tr>
        <tr>
            <th data-i18n="Mobile">联系方式</th>
            <td>{{ mobile }}</td>
        </tr>
        <tr>
            <th data-i18n="Flight No.">航班号</th>
            <td>{{ attributes.flight_no }}</td>
        </tr>
        <tr>
            {{ #arrival }}
            <th data-i18n="Airport Arrival">到达机场</th>
            {{ /arrival }}
            {{ ^arrival }}
            <th data-i18n="Airport Departure">出发机场</th>
            {{ /arrival }}
            <td data-i18n="{{attributes.airport}}">{{ attributes.airport }}</td>
        </tr>
        <tr>
            {{ #arrival }}
            <th data-i18n="Airport Arrival Time">降落时间</th>
            {{ /arrival }}
            {{ ^arrival }}
            <th data-i18n="Airport Departure Time">起飞时间</th>
            {{ /arrival }}
            <td>{{ attributes.datetime }}</td>
        </tr>
        <tr>
            <th data-i18n="Car No.">车牌号</th>
            <td>{{ attributes.car_no }}</td>
        </tr>
        <tr>
            <th data-i18n="Pick-up Location">接送地点</th>
            <td>{{ attributes.address }}</td>
        </tr>
        <tr>
            <th data-i18n="Guest Information">贵宾信息</th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="guest-table table table-condensed table-hover table-striped">
                    {{ #attributes.guests }}
                    <tr>
                        <td>
                            <span>{{name}}{{ ^gender }}<span data-i18n="Mr.">先生</span>{{ /gender }}
                        {{ #gender }}<span data-i18n="Ms.">小姐</span>{{ /gender }}</span>
                        </td>
                        <td>
                            <span>{{id_no}}</span>
                        </td>
                    </tr>
                    {{ /attributes.guests }}
                </table>
            </td>
        </tr>
        <tr>
            <th data-i18n="Accompanies">陪同人数</th>
            {{ #attributes.accompany }}
            <td>{{ attributes.accompany }}</td>
            {{ /attributes.accompany }}
            {{ ^attributes.accompany }}
            <td>0</td>
            {{ /attributes.accompany }}
        </tr>
        {{ #payment }}
        <tr>
            <th data-i18n="Payed Amount">支付金额</th>
            {{ ^payment_status }}
            <td class="payment-td pay-ok">
                <span class="payment-amount"><strong>￥{{ payment.amount }}</strong></span>
                <span class="payment-status "><i class="fa fa-check"></i><strong>已支付</strong></span>
            </td>
            {{ /payment_status }}
            {{ #payment_status }}
            <td class="payment-td not-pay">
                <span class="payment-amount"><strong>￥{{ payment.amount }}</strong></span>
                <span class="payment-status"><strong>未支付</strong></span>
            </td>
            {{ /payment_status }}
        </tr>
        {{ /payment }}
        {{ #comment }}
        <tr>
            <th data-i18n="Comment">备注</th>
            <td>{{ comment }}</td>
        </tr>
        {{ /comment }}
    </table>
    {{ #order_new }}
    {{ ^payment_status }}
    <button class="btn btn-block btn-primary disabled" data-i18n="Waiting Confirm">等待确认</button>
    {{ /payment_status }}
    {{ #payment_status }}
    <a href="javascript:;" class="btn btn-block btn-primary order-payable" data-i18n="Pay">支付</a>
    {{ /payment_status }}
    {{ /order_new }}
    {{ #order_confirmed }}
    {{ ^payment_status }}
    <button class="btn btn-block btn-primary disabled" data-i18n="Confirmed Order">已确认订单</button>
    {{ /payment_status }}
    {{ #payment_status }}
    <a href="javascript:;" class="btn btn-block btn-primary order-payable" data-i18n="Pay">支付</a>
    {{ /payment_status }}
    {{ /order_confirmed }}
    {{ #order_finished }}
    <button class="btn btn-block btn-default disabled" data-i18n="Fulfilled Orders">已完成订单</button>
    {{ /order_finished }}
    {{ #order_cancelled }}
    <button class="btn btn-block btn-default disabled" data-i18n="Cancelled Order">已取消订单</button>
    {{ /order_cancelled }}
</div>



