<div class="row">
    <div class="col-xs-5">
        <span>{{name}}</span>
        {{ ^sexe}}<span data-i18n="Mr.">先生</span>{{ /sexe }}{{ #sexe}}<span data-i18n="Ms.">小姐</span>{{ /sexe }}
    </div>
    <div class="col-xs-5">{{mobile}}</div>
    <!--<div class="col-xs-4">{{email}}</div>-->
    <div class="col-xs-2">
        <button type="button" class="close delete-button" aria-hidden="true">&times;</button>
    </div>
</div>
