<div class="row">
    <div class="col-xs-4">
        {{time_created}}
    </div>
    <div class="col-xs-5 span-detail">
        {{reason}}
    </div>
    <div class="col-xs-3 span {{#positive}}positive{{/positive}}{{#negative}}negative{{/negative}}">
        <strong>{{#positive}}+{{/positive}}{{amount}}</strong>
    </div>
</div>
