<header>
    <img src="{{{ restaurantinfor.frontpic }}}" />
        <h1 class="text-center fullname">{{{ restaurantinfor.fullname }}}</h1>

</header>
<section>
    <p class="text-center">
        <span class="rating r{{score}}">
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
        </span>
        <strong class="small">人均: {{ restaurantinfor.price }}</strong>
    </p>
    <p class="text-center">{{{ restaurantinfor.address }}}</p>
    <p class="text-center">{{{ restaurantinfor.discount }}}</p>
</section>
