<a href="/restaurant/{{ restaurantinfor.id }}"><img class="img-responsive member-list-img" src="{{restaurantinfor.frontpic}}"></a>
<h4 class="text-center"><a href="/restaurant/{{ restaurantinfor.id }}" >{{ restaurantinfor.fullname }}</a></h4>
<div class="caption">
    <table class="table table-condensed">
        <tr><th data-i18n="Date">就餐日期</th><td>{{ datetime }}</td></tr>
        <tr><th data-i18n="Order No">订单号</th><td>{{ order_no }}</td></tr>
        <tr>
            <th data-i18n="Contacts">联系人</th>
            <td>
                {{ contactname }}
                {{ ^contactgender }}<span data-i18n="Mr.">先生</span>{{ /contactgender }}
                {{ #contactgender }}<span data-i18n="Ms.">小姐</span>{{ /contactgender }}
            </td>
        </tr>
        <tr><th data-i18n="Mobile">联系方式</th><td>{{ contactphone }}</td></tr>
        <tr><th data-i18n="People">人数</th><td>{{ personnum }}</td></tr>
        {{ #is_prepay }}
        <tr>
            <th>预付金额</th>
            {{ #payment_order.is_paid }}
            <td class="payment-td pay-ok">
                <span class="payment-amount"><strong>￥{{ payment_order.amount }}</strong></span>
                <span class="payment-status "><i class="fa fa-check"></i><strong>已支付</strong></span>
            </td>
            {{ /payment_order.is_paid }}
            {{ ^payment_order.is_paid }}
            <td class="payment-td not-pay">
                <span class="payment-amount"><strong>￥{{ payment_order.amount }}</strong></span>
                <span class="payment-status"><strong>未支付</strong></span>
            </td>
            {{ /payment_order.is_paid }}
        </tr>
        {{ /is_prepay }}
        <tr><th data-i18n="Amount">消费金额</th><td><strong>￥{{ consumeamount }}</strong></td></tr>
        <tr><th data-i18n="Comment">备注</th><td>{{ other }}</td></tr>
    </table>
</div>
