<div class="row">
    <div class="col-sm-7">
        <form role="form" class="well well-lg profile-form">
            <legend><h4 data-i18n="Modify Profile">修改资料</h4></legend>
            <div class="form-group">
                <label data-i18n="Name">姓名</label>
                <input type="text" class="form-control" name="nickname" value="{{nickname}}" 
                    data-placeholder-i18n="Name" placeholder="姓名">
            </div>
            <div class="form-group">
                <label data-i18n="Gender">称呼</label>
                <select name="sexe" class="form-control">
                    <option {{^sexe}}selected{{/sexe}} value="0" data-i18n="Mr.">先生</option>
                    <option {{#sexe}}selected{{/sexe}} value="1" data-i18n="Ms.">女士</option>
                </select>
            </div>
            <div class="form-group">
                <label data-i18n="Email">邮箱</label>
                <input type="email" class="form-control" name="email" value="{{email}}"
                    data-placeholder-i18n="Email" placeholder="邮箱">
            </div>
            <div class="form-group">
                <label data-i18n="Mobile">手机</label>
                <input type="tel" name="mobile" class="form-control" value="{{mobile}}"
                    data-placeholder-i18n="Mobile" placeholder="手机">
            </div>
            <div class="form-group">
                <label data-i18n="Birthday">生日</label>
                <input type="date" class="form-control" name="birthday" value="{{birthday}}"
                    data-placeholder-i18n="Birthday" placeholder="生日">
            </div>
            <button class="btn btn-primary btn-block" type="submit" data-i18n="Save">保存</button>
        </form>
    </div>
    <div class="col-sm-5">
        <form role="form" class="well well-lg password-form">
            <legend><h4 data-i18n="Modify Password">修改密码</h4></legend>
            <div class="form-group">
                <label data-i18n="Password">密码</label>
                <input class="form-control" type="password" name="password"
                    data-placeholder-i18n="Password" placeholder="密码">
            </div>
            <div class="form-group">
                <label data-i18n="Confirm Password">确认密码</label>
                <input class="form-control" type="password" name="password-confirm"
                    data-placeholder-i18n="Confirm Password" placeholder="确认密码">
            </div>
            <button class="btn btn-primary btn-block" type="submit" data-i18n="Modify Password">修改密码</button>
        </form>
    </div>
</div>
