<div class="text-center">
    <h4>平安优惠</h4>
</div>
<div class="caption">
    <table class="table table-condensed">
        <tr>
            <th data-i18n="Order Date">订单日期</th>
            <td>{{ time_created }}</td>
        </tr>
        <tr>
            <th data-i18n="Order No">订单号</th>
            <td>{{ order_no }}</td>
        </tr>
        <tr>
            <th data-i18n="Contacts">联系人</th>
            <td>
                {{ name }}
                {{ ^gender }}<span data-i18n="Mr.">先生</span>{{ /gender }}
                {{ #gender }}<span data-i18n="Ms.">小姐</span>{{ /gender }}
            </td>
        </tr>
        <tr>
            <th data-i18n="Mobile">联系方式</th>
            <td>{{ mobile }}</td>
        </tr>
        <tr>
            <th data-i18n="Date">日期</th>
            <td>{{ attributes.datetime }}</td>
        </tr>
        <tr>
            <th data-i18n="Address">地址</th>
            <td>{{ attributes.address }}</td>
        </tr>
        <tr>
            <td data-i18n="People">人数:</td>
            <td>{{attributes.people}}</td>
        </tr>
        {{ #payment }}
        <tr>
            <th data-i18n="Payed Amount">金额</th>
            <td><strong>￥{{ payment.amount }}</strong></td>
        </tr>
        {{ /payment }}
        {{ #comment }}
        <tr>
            <th data-i18n="Comment">备注</th>
            <td>{{ comment }}</td>
        </tr>
        {{ /comment }}
    </table>
    {{ #order_new }}
    <button class="btn btn-block btn-primary disabled" data-i18n="Waiting Confirm">等待确认</button>
    {{ /order_new }}
    {{ #order_confirmed }}
    <button class="btn btn-block btn-primary disabled" data-i18n="Confirmed Order">已确认订单</button>
    {{ /order_confirmed }}
    {{ #payment }}
    {{ #payment_status }}
    <a href="{{payment.payment_url}}" class="btn btn-block btn-primary order-payable" data-i18n="Pay">支付</a>
    {{ /payment_status }}
    {{ /payment }}
    {{ #order_finished }}
    <button class="btn btn-block btn-default disabled" data-i18n="Fulfilled Orders">已完成订单</button>
    {{ /order_finished }}
    {{ #order_cancelled }}
    <button class="btn btn-block btn-default disabled" data-i18n="Cancelled Order">已取消订单</button>
    {{ /order_cancelled }}
</div>



