<a href="/restaurant/{{ detail.restaurant_id }}"><img class="img-responsive member-list-img" src="{{detail.picture}}"></a>
<h4 class="text-center"><a href="/restaurant/{{ detail.restaurant_id }}" >{{ detail.name }}</a></h4>
<div class="caption">
    <table class="table table-condensed">
        <tr>
            <th colspan="2">餐厅预订预支付订单</th>
        </tr>
        <tr>
            <th data-i18n="Order Date">订单日期</th>
            <td>{{ time_created }}</td>
        </tr>
        <tr>
            <th data-i18n="Order No">订单号</th>
            <td>{{ order_no }}</td>
        </tr>
        <tr>
            <th data-i18n="Contacts">联系人</th>
            <td>
                {{ name }}
                {{ ^gender }}<span data-i18n="Mr.">先生</span>{{ /gender }}
                {{ #gender }}<span data-i18n="Ms.">小姐</span>{{ /gender }}
            </td>
        </tr>
        <tr>
            <th data-i18n="Mobile">联系方式</th>
            <td>{{ mobile }}</td>
        </tr>
        <tr>
            <th data-i18n="Date">日期</th>
            <td>{{ attributes.datetime }}</td>
        </tr>
        {{ #payment }}
        <tr>
            <th data-i18n="Payed Amount">预付金额</th>
            {{ ^payment_status }}
            <td class="payment-td pay-ok">
                <span class="payment-amount"><strong>￥{{ payment.amount }}</strong></span>
                <span class="payment-status "><i class="fa fa-check"></i><strong>已预付</strong></span>
            </td>
            {{ /payment_status }}
            {{ #payment_status }}
            <td class="payment-td not-pay">
                <span class="payment-amount"><strong>￥{{ payment.amount }}</strong></span>
                <span class="payment-status"><strong>未预付</strong></span>
            </td>
            {{ /payment_status }}
        </tr>
        {{ /payment }}
        {{ #comment }}
        <tr>
            <th data-i18n="Comment">备注</th>
            <td>{{ comment }}</td>
        </tr>
        {{ /comment }}
    </table>
    {{ #order_new }}
    {{ #payment_status }}
    <a href="javascript:;" target="_blank" class="btn btn-block btn-primary order-payable" data-i18n="Pay">支付</a>
    {{ /payment_status }}
    {{ ^payment_status }}
    <button class="btn btn-block btn-primary disabled" data-i18n="Waiting Confirm">等待确认</button>
    {{ /payment_status }}
    {{ /order_new }}
    {{ #order_confirmed }}
    {{ #payment_status }}
    <a href="javascript:;" target="_blank" class="btn btn-block btn-primary order-payable" data-i18n="Pay">支付</a>
    {{ /payment_status }}
    {{ ^payment_status }}
    <button class="btn btn-block btn-primary disabled" data-i18n="Confirmed Order">已确认订单</button>
    {{ /payment_status }}
    {{ /order_confirmed }}
    {{ #order_finished }}
    <button class="btn btn-block btn-default disabled" data-i18n="Fulfilled Orders">已完成订单</button>
    {{ /order_finished }}
    {{ #order_cancelled }}
    <button class="btn btn-block btn-default disabled" data-i18n="Cancelled Order">已取消订单</button>
    {{ /order_cancelled }}
</div>
