<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="name" class="col-xs-2 control-label">餐厅名称</label>
        <div class="col-xs-10">
            <select class="form-control restaurants-select"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="fullName" class="col-xs-2 control-label">餐厅中文</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="fullname" placeholder="中文">
        </div>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="fullnameen" placeholder="英文">
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-xs-2 control-label">餐厅地址</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="address" placeholder="中文">
        </div>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="addressen" placeholder="英文">
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-xs-2 control-label">工作时间</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="workinghour" data-placeholder-i18n="Working Hour" placeholder="中文">
        </div>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="workinghouren" placeholder="英文" data-placeholder-i18n="">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-xs-2 control-label">餐厅描述</label>
        <div class="col-xs-5">
            <textarea class="form-control" name="description" rows="5"></textarea>
        </div>
        <div class="col-xs-5">
            <textarea class="form-control" name="descriptionen" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="discount" class="col-xs-2 control-label">餐厅折扣</label>
        <div class="col-xs-5">
            <textarea class="form-control" name="discount"  rows="5"></textarea>
        </div>
        <div class="col-xs-5">
            <textarea class="form-control" name="discounten" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="parking" class="col-xs-2 control-label">公交信息</label>
        <div class="col-xs-5">
            <textarea class="form-control" name="parking" rows="5"></textarea>
        </div>
        <div class="col-xs-5">
            <textarea class="form-control" name="parkingen"  rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-8 text-right info-text" ></div>
        <div class="col-xs-4 text-right">
            <button type="button" class="btn btn-default btn-lg restaurant-submit">
                提交
            </button>
        </div>
    </div>
</form>
