<h4 class="text-center"><a href="/restaurant/{{ restaurantinfor.id }}" >{{ restaurantinfor.fullname }}</a></h4>
<table class="table table-condensed">
    <tr><th>就餐日期</th><td>{{ orderdate }} {{ ordertime }}</td></tr>
    <tr><th>订单编号</th><td>{{ order_no }}</td></tr>
    <tr>
        <th>联系人</th>
        <td>
            {{ contactname }}
            {{ ^contactgender }}先生{{ /contactgender }}
            {{ #contactgender }}小姐{{ /contactgender }}
        </td>
    </tr>
    <tr><th>联系方式</th><td>{{ contactphone }}</td></tr>
    <tr>
        <th>人数</th>
        <td>{{ personnum }}位 {{#premium}}<strong class="text-success">不等位</strong>{{/premium}}</td>
    </tr>
    {{#clubseattype}}
    <tr><th>座位类型</th><td>包厢</td></tr>
    {{/clubseattype}}
    {{ #is_prepay }}
    <tr>
        <th>预付金额</th>
        {{ #payment_order.is_paid }}
        <td class="payment-td pay-ok">
            <span class="payment-amount"><strong>￥{{ payment_order.amount }}</strong></span>
            <span class="payment-status "><i class="fa fa-check"></i><strong>已支付</strong></span>
        </td>
        {{ /payment_order.is_paid }}
        {{ ^payment_order.is_paid }}
        <td class="payment-td not-pay">
            <span class="payment-amount"><strong>￥{{ payment_order.amount }}</strong></span>
            <span class="payment-status"><strong>未支付</strong></span>
        </td>
        {{ /payment_order.is_paid }}
    </tr>
    {{ /is_prepay }}
    <tr><th>消费金额</th><td><strong>￥{{ consumeamount }}</strong></td></tr>
    {{ #other }}
    <tr><th>备注</th><td>{{ other }}</td></tr>
    {{ /other }}
</table>
