<% include ../layout/layout_open.html %>

<div id="view-staff-dashboard" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <h3>抱歉，出错了</h3>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
