.text-line-through(@height: 30px, @width: 200px) {
    display: inline-block;
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        height: 3px;
        border-top: 1px solid @gray-dark;
        border-bottom: 1px solid @gray-dark;
        top: (@height / 2) - 1px;
        width: @width;
    }
    &::before {
        right: 100%;
        margin-right: 15px;
    }
    &::after {
        left: 100%;
        margin-left: 15px;
    }
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    overflow: hidden;
    behavior: url("/assets/css/css3pie/PIE.htc");
}
