<div class="modal fade" id="dialog-member-login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" data-i18n="Login">登录</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="sign-in-form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" class="form-control" name="username" 
                                data-placeholder-i18n="Mobile/Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            <input type="password" class="form-control" name="password"
                                data-placeholder-i18n="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" data-i18n="Login">登录</button>
                        <a href="/member/register/" class="register-link">新用户注册</a>
                        <span class="help-block non_field_errors"></span>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
