// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.order-form-box {
    max-width: 500px;
    margin: 50px auto;
    .large-margin-bottom {
        margin-bottom: 25px;
    }
    .btn-confirm {
        font-weight: 700;
        font-size: 16px;
    }
}
