// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.view > .container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.left-menu {
    padding-bottom: 1em;
}

.right-restaurant {
    padding-bottom: 1em;
}

.positive {
    color: #008000;
}

.negative {
    color: #ff0000;
}

.payment-modal-box {
    max-width: 400px;
}

.order-list-item {
    .transition(none); //.thumbnail's transition conflicts with jQuery animation in ModelView.hide
    .table {
        th, td { border-top: 0px; }
        th { width: 100px; }
    }
    overflow: hidden;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
    &:nth-child(2n), &.even { margin-right: 0; }
    float: left;
    .member-list-img {
        height: 200px;
        .center-block();
    }
    @media (max-width: @screen-sm-max) and (min-width: @screen-xs-min) {
        .member-list-img {
            height: 150px;
        }
    }
    @media (max-width: (@screen-xs-min - 1)) {
        margin: 0 0 20px;
        width: 100%;
        float: none;
    }
}

.even {
    margin-right: 0px;
}

.guest-table {
    margin-bottom: 0px;
}

.payment-td {
    .payment-status {
        margin-left: 1em;
    }
}

.pay-ok {
    color: #008000;
}

.not-pay {
    color: @gray-light
}

.fulfilled-order-list-item {
    p {
        padding:0px 5px;
        margin-bottom: 10px;
    }
    .p-first {
        padding-top: 10px;
    }
    .table-container {
        padding:0px 5px;
    }
    span {
        margin-right: 1em;
    }
    .border-bottom-line {
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: 10px;
    }
    ul {
        margin-bottom: 5px;
    }
}


.restaurant-list-item {
    width: 46%;
    margin: 2%;
    float: left;
    padding-bottom: 10px;
    .box-shadow(0 0 20px rgba(0,0,0,.3));
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max),
    (max-width: (@screen-xs-min - 1)) {
        margin: 0 0 20px;
        width: 100%;
        float: none;
    }
    background: #fafafa;
    > header {
        cursor: pointer;
        padding-top: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;
        > img {
            position: absolute;
            bottom: 35px;
            width: 100%;
            min-height: 100%;
        }
        > .fullname {
            font-size: 18px;
            line-height: 35px;
            margin: 0;
            .text-overflow();
        }
    }
    > section {
        padding: 0 10px;
        height: 5.5em;
        overflow: hidden;
        > p {
            .text-overflow();
        }
    }
}

.cancel-order-reason {
    width: 100%;
    margin-bottom: 10px;
    textarea {
        width:100%;
    }
}
