// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


@font-face {
    font-family: 'EnglandHand';
    src: url('../fonts/england-webfont.eot');
    src: url('../fonts/england-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/england-webfont.woff') format('woff'), url('../fonts/england-webfont.ttf') format('truetype'), url('../fonts/england-webfont.svg#england_hand_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.view > section {
    position: relative;
    width: 100%;
    overflow: hidden;
    > .container {
        max-width: @container-sm;
    }
}

.section-nav {
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: @zindex-navbar-fixed;
    .fa { font-size: 30px; }
    > ul > li > a {
        .border-radius(50%);
        .square(10px);
        background: @gray-light;
        border: 1px solid @gray-light;
        opacity: .7;
        padding: 0;
        margin: 30px auto;
    }
    > ul > li.active > a {
        .square(20px);
        background: transparent;
    } 
}

.section-lead {
    margin-bottom: 20px;
    width: 80%;
    height: 100px;
    .center-block;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 200%;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        background: rgb(200, 200, 200);
        .opacity(.2);
    }
    .icon {
        .square(100px);
        .border-radius(50px);
        padding: 20px;
        //.opacity(.7);
        &.active {
            background: rgb(238, 238, 238);
            background: rgba(238, 238, 238, .3);
        }
    }
    h1 {
        margin: 0;
        padding: 30px 10px;
    }
}

.section-aside {
    margin: 30px 0;
}

.hero {
    .carousel-inner, .item {
        .square(100%);
    }
    .item {
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
}

.view > .introduction {
    background: @gray url(../../img/home/line.png) no-repeat center;
    padding-bottom: 10px;
    @left-color: saturate(@brand-info, 30%);
    .left { color: @left-color; }
    .right { color: @body-bg; }
    .btn {
        border: 1px solid @left-color;
        color: @left-color;
        font-family: @font-family-sans-serif;
        font-size: 18px;
        margin: 5px 0;
    }
    .qrcode {
        width: 120px;
        margin-top: 20px;
        max-width: 50%;
    }
}

.view > .concierges {
    padding-bottom: 100px;
    > .container {
        max-width: @container-md;
    }
    .magicbox-ar {
        padding-bottom: 50%;
    }
    .magicbox-item {
        width: 25%;
    }
}

.view > .restaurants {
    padding-bottom: 150px;
    background-color: #f0f0f0;
    > .container {
        padding-left: 70px;
        padding-right: 70px;
    }
    .section-lead {
        margin-bottom: 70px;
    }
    .slide-frame {
        position: absolute;
        width: 180%;
        left: -40.3%;
        top: -18%;
        img { width: 100%; }
    }
    .magicbox-inner {
        border-radius: 5px;
        overflow: hidden;
    }
    @media (max-width: @screen-xs-max) {
        .slide-frame { display: none; }
        > .container {
            padding-left: (@grid-gutter-width / 2);
            padding-right: (@grid-gutter-width / 2);
        }
    }
}

.view > .stories {
    padding-bottom: 100px;
    > .container {
        position: relative;
    }
    .section-lead {
        background-color: #fff;
    }
    .story-path {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 90px 6% 0 15%;
    }
    .story-title {
        padding: 15px 0 5px;
        position: relative;
        color: @gray;
        z-index: 1;
        .story-title-bg {
            position: absolute;
            z-index: -1;
            top: 0;
            left: -25%;
            width: 150%;
            height: 100%;
        }
    }
    .story-img {
        width: 100%;
        border: 3px solid #daccb8;
    }
    .story-item {
        float: left;
        width: 35%;
        padding-top: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    .story-item + .story-item {
        width: 25%;
        padding-top: 27%;
        padding-left: 0;
        padding-right: 5%;
    }
    .story-item + .story-item + .story-item {
        width: 40%;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.view > .cooperations {
    padding-bottom: 50px;
    background-color: #f0f0f0;
    .brand-logo { padding: 1px; }
    h1 { margin: 20px 0; }
    img { width: 100%; }
}
