// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.view {
	width: 100%;
	padding-right: 45%;
	margin-top: 0;
}

.master-header {
    position: absolute;
}

.sign-up-sign-in {
	position: fixed;
	z-index: @zindex-navbar;
	top: 0;
	bottom: 0;
	right: 0;
	width: 45%;
	padding-top: 100px;
}

.sign-up-form, .sign-in-form {
    width: 70%;
    margin: 0 auto;
    padding: 0 @grid-gutter-width / 2;
}

.stream {
    background: url('../../img/bg-noise.jpg') repeat;
    padding: 50px 0;
	.register-stream-item {
        border:6px solid #ffffff;
		margin: 0px auto 50px auto;
		max-width: 500px;
        position: relative;
        width: 100%;
        padding-top: 40%;
        overflow: hidden;
//        background: #ffffff;
        .recommend-link {
            display: block;
            position: absolute;
            bottom: 0;
            padding: 10px 10px;
            width: 100%;
            background: rgba(255,255,255,0.6);
            color: #ffffff;
        }
        h3 {
            margin-bottom: 0;
            margin-top: 0;
            opacity: 1;
            color: @brand-primary;
        }
        img {
            position: absolute;
            bottom: 0px;
            width: 100%;
        }
	}
}

header>.navbar {
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

header.master-header nav {
    padding: 0px 15px;
    border: 0;
}

.binding-success-box {
    padding-top: 100px;
}

@media (max-width: @screen-xs-max) {
    .view {
        padding-right: 0;
    }
    .sign-up-sign-in {
        position: relative;
        width: 100%;
    }
    .sign-up-form, .sign-in-form {
        width: 90%;
    }
}
