// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";

@font-face {
    font-family: 'EnglandHand';
    src: url('../fonts/england-webfont.eot');
    src: url('../fonts/england-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/england-webfont.woff') format('woff'), url('../fonts/england-webfont.ttf') format('truetype'), url('../fonts/england-webfont.svg#england_hand_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@pink: #fc9d9a;
@yellow: #c4B084;
//AD9C75

.view > section {
    position: relative;
    width: 100%;
    min-height: 700px;
    overflow: hidden;
    > .container {
        //max-width: @container-sm;
    }
    @media (max-width: @screen-sm-max) {
        min-height: 400px;
        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }
    }
}

.section-nav {
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: @zindex-navbar-fixed;
    .fa {
        font-size: 30px;
    }
    > ul > li > a {
//        .border-radius(50%);
        .square(10px);
        background: @gray-light;
        border: 1px solid @gray-light;
        opacity: .7;
        padding: 0;
        margin: 30px auto;
    }
    > ul > li.active > a {
        .square(20px);
        background: transparent;
    }
}

.carousel-inner, .item {
    .square(100%);
}

.item {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.vvip-section-block {
    background: url("/assets/img/home/bg/vvip.jpg") no-repeat;
    background-position: left top;
    background-size: cover;
    position: relative;
    color: #ffffff;
    .vvip-container {
        padding: 5% 15px 30% 15px;
        p {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.7em;
            color: #ffffff;
            opacity: 1;
        }
        @media (max-width: @screen-sm-max) {
            p {
                font-size: 20px;
                font-weight: bold;
                line-height: 1.8em;
            }
        }
    }
}

.restaurant-section-block {
    //    background: rgba(255, 255, 255, 0.5);
    background: url("/assets/img/home/bg/food.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    .restaurant-container {
        padding: 120px 15px 120px 15px;
        .text-wrapper {
            color: #11111;
            padding: 20px;
            background: rgba(250, 250, 250, .7);
            position: relative;
            margin-bottom: 2em;
            .normal-text {
                opacity: 1;
            }
            .first-header {
                margin-top: 0px;
            }
        }
    }

    @media (max-width: @screen-sm-max) {
        .restaurant-container {
            padding: 30px 15px;
        }
    }
}

.content-section {
    padding: 150px 15px;
    @media (max-width: @screen-sm-max) {
        padding: 30px 15px;
    }
}

.col-box-border {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 380px;
    padding: 10px;
    margin-bottom: 1em;
    h2 {
        margin-bottom: 20px;
    }
}

.order-instance {
    display: block;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 15px;
    h4 {
        margin: 0;
    }
    &:hover {
        color: @gray-light;
    }
}


.gray-text {
    color: #808080;
}

.white-text {
    color: #ffffff;
}

.know-more {
    display: inline-block;
    //    border:1px solid #CCCCCC;
    //    border-radius: 3px;
    font-size: 18px;
    &:hover {
        color: #e0e0e0;
    }
}

.section-header {
    margin-bottom: 40px;
}

.restaurant-carousel-wrapper {
    border: 5px solid #ffffff;
    .carousel-indicators {
        margin-left: auto;
        margin-right: 0px;
        bottom: 0;
        left: 20%;
        li {
            border-radius: 0;
        }
    }
}

.carousel-inner .carousel-inner-item {
    float: left;
    width: 33.33333%;
}

.img-wine {
    .transition(all 0.1s ease-in-out);
    .transform-origin(100% 100%);
}

.rotate-image {
    .rotate(2deg);
    @media (max-width: @screen-sm-max) {
        .rotate(0deg);
    }
}

.img-heart {
//    border: 6px solid #AD9C75;
    opacity: 1;
    .transition(all 0.5s ease-in-out);
    //    .transform-origin(0% 100%);
}

.img-vvip {
    .transition(all 0.1s ease-in-out);
    .transform-origin(100% 100%);
}

.rotate-image-left {
    .scale(0, 0);
    opacity: 0;
    @media (max-width: @screen-sm-max) {
        .scale(1, 1);
        opacity: 1;
    }
}

.values-relative-box {
    position: relative;
    height: 200px;
    >div {
        width: 100%;
    }
    @media (max-width: @screen-sm-max) {
        height: 150px;
    }
    li {
        padding-right: 0px;
        padding-left: 0px;
        a {
            display: block;
            position: relative;
            padding-bottom: 100%;
            overflow: hidden;
            img {
                width: 100%;
                position: absolute;
                bottom: 0;
            }
            span {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                color: @brand-primary;
                padding:5px;
                background: rgba(255,255,255,0.6);
                font-weight: bold;
            }
        }
    }
    .carousel-inner {
        height: auto;
        overflow: hidden;
        .item {
            padding:5px;
            background: #ffffff;
        }
    }
    .carousel-control {
        height: 80px;
        width: 40px;
        top: 55%;
        span {
            font-size: 40px;
        }
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
    }
    @media screen and (max-width: @screen-xs-max) {
        .carousel-control {
            width: 30px;
            height: 60px;
            margin-top: -40px;
            padding: 10px 2px;
            .fa {
                font-size: 40px;
            }
        }
    }
}

.value-carousel {
    margin-top: 20px;
    .transition(all 1s ease-in-out);
    position: absolute;
    bottom: 0px;
    top: 0px;
    @media (max-width: @screen-sm-max) {
        position: relative;
    }
}

.values-carousel-transition {
    top: 100px;
    opacity: 0.1;
    @media (max-width: @screen-sm-max) {
        opacity: 1;
        top: 0;
    }
}

.values-carousel-1 {
    right: 0px;
}

.custom-pull-right {
    float: right;
    @media (max-width: @screen-sm-max) {
        float: left;
    }
}

.custom-text-right {
    text-align: right;
    @media (max-width: @screen-sm-max) {
        text-align: left;
    }
}

.story-section {
    .story-box {
        padding: 10px 60px;
        margin-bottom: 1em;
        p {
            line-height: 1.8em;
            min-height: 100px;
        }
    }
    @media (max-width: @screen-sm-max) {
        .story-box {
            padding: 10px 15px;
        }
    }
}

.app-section {
    .weixin-qr-image {
        width: 180px;
    }
    .image-center {
        margin: auto;
        margin-top: 10px;
    }
    .margin-top-box {
        margin-top: 10px;
    }
    .app-link-box {
        margin-left: 0;
        margin-right: 0;
        img {
            margin: auto;
        }
        .app-image {
            margin-bottom: 5px;
        }
        table {
            margin-right: 0;
            margin: auto;
            img {
                width: 110px;
            }
        }
    }
}


.user-profile {
    > span, img {
        vertical-align: middle;
        margin-right: 10px;
    }
    img {
        width: 60px;
        height: 60px;
        .border-radius(30px);
        border:6px solid #ffffff;
    }
}

.gift-section {
//    background-color: @yellow;
    background-color: pink;
    color: #ffffff;
}

.section-story {
    background-color: #f0f0ee;
}



