// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.left-panel {
    .box-shadow(2px 0 1px #ddd);
    p {
        line-height: 1.8em;
    }
    .service-protocol-link {
        color: #0088cc;
        font-weight: 700;
        cursor: pointer;
    }
}

.right-panel {
    font-size: 1em;
    line-height: 1.8em;
    h1,h2,h3,h4,h5,h6 {
        color: @gray;
    }
}

.form-prompt {
    padding: 10px 25px;
    margin:25px -25px;
}

.guest-list {
     border-bottom: 1px solid #999;
     padding-top: 10px;
 }

th { width: 120px; }

th, td { vertical-align: middle; }

.service-protocol-modal {
    p {
        line-height: 1.8em;
    }
}
