// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.view > .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-info{
    overflow: hidden;
    > h3 {
        margin-bottom: 20px;
    }
    > p {
        margin: 20px;
    }
}
.product-img {
    width: 100%;
    margin: auto;
}
.form-prompt {
    padding: 10px 15px;
}

.order-prompt-paragraph {
    margin-top: 1em;
}
