// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.service-intro {
    padding: 20px 5%;
}

.menu-image {
    float: left;
    width: 48%;
    margin: 1%;
    border-radius: 5px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.pingan-order-box {
    margin-top: 40px;
}
