// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";

.product-category-box {
    overflow-x: hidden;
    > header > p {
        max-width: 50%;
        .center-block();
    }
    .deco-line {
        width: 30%;
    }
    .deco-text {
        margin: 0 10px;
    }
    margin-bottom: 30px;
}

.product-item {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    .product-item-wrapper {
        border: 2px solid #EEEEEE;
        padding: 6px;
    }
    .product-name {
        .text-overflow();
    }
    .product-img {
        display: block;
        height: 197px;
        width: 100%;
        overflow: hidden;
        img {
            .center-block();
            height: 100%;
        }
    }
    .caption {
        height: 100px;
        padding: 5px 15px;
        p {
            overflow: hidden;
            color: @gray-light;
            height: 39px;
        }
    }
    @media (max-width: @screen-sm-max) {
        .product-img { height: 202px; }
        .caption {
            height: 115px;
            p { height: 52px; }
        }
    }
    @media (max-width: (@screen-xs-max)) {
        .product-img { height: 150px; }
    }
}

.nav-tabs.nav-justified {
    > li > a {
        border-radius: 0;
        border: 0;
        border-bottom: 2px solid transparent;
        background: #fefefe;
        padding-left: 0;
        padding-right: 0;
        &:hover, &.active {
            border-bottom: 2px solid #fc9d9a;
        }
    }
    &:hover > li > a.active {
        border-bottom-color: transparent;
    }
    &:hover > li > a:hover {
        border-bottom-color: #fc9d9a;
    }
}

.category-nav {
    margin-top: 20px;
    margin-bottom: 50px;
    .subnav {
        opacity: 0;
        visibility: hidden;
        .transition(opacity .5s ease-in-out);
        position: absolute;
        bottom: 0;
        width: 300%;
    }
    > li:hover .subnav {
        opacity: 1;
        visibility: visible;
        bottom: -56px;
    }
    > li {
        position: relative;
    }
    h5 {
        margin: 0;
        padding: 10px 0;
        border-right: 1px solid #eee;
    }
    > li:first-child h5 {
        border-left: 1px solid #eee;
    }
    a:hover h5 {
        //background: #eee;
    }
}

.product-nav {
    > li {
        > a {
            padding-bottom: 0;
        }
        @media (max-width: (@screen-xs-max)) {
            display: table-cell;
        }
    }
}
