// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";

body > .view {
    margin-top: 0;
}

.cake-ad-title {
    margin-bottom: 5%;
}

.cake-category-box {
    margin-bottom: 10%;
}

.cake-title-text {
    font-family: @font-family-sans-serif;
    padding: 10px 15px;
    display: block;
    font-size: 18pt;
    font-weight: 700;
    color: #de5130;
    background: rgba(250, 230, 210, 0.3);
    margin-bottom: 0px;
    .en-text {
        color: #d8c6ba;
        font-weight: 600
    }
    .zh-text {
        color: #de5130;
        font-weight: 700
    }
}

.cake-img-container {
    margin: 0 -15px;
    img {
        border: 1px solid #EEEEEE;
    }
}
