// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.order-form-box {
    max-width: 500px;
    margin: 20px auto;
}

legend {
    margin-top: 40px;
}

.modal-dialog {
    max-width: 400px;
    .center-block();
}
.restaurant-info{
    margin-bottom: 1em;
//    max-height: 300px;
    overflow: hidden;
}
.restaurant-img {
    width: 100%;
    margin: auto;
}
.form-prompt {
    padding: 10px 25px;
    margin:20px -20px;
}

.order-prompt-paragraph {
    margin-top: 1em;
}

.club-seat-type {
    ul {
        margin-bottom: 0px;
    }
    .seat-choose-box {
        padding-top: 6px;
    }
}