// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";

.view > .container {
    padding-top: 30px;
    padding-bottom: 20px;
}

.panel-group .panel, .panel {
    border-radius: 0;
    border-width: 0;
    background-color: transparent;
    margin-top: 0;
    box-shadow: none;
}

.panel-heading {
    border-radius: 0;
}

.panel-body {
    padding: 0 15px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top-width: 0;
}

.filter-panel {
    position: fixed;
    z-index: @zindex-navbar-fixed - 1;
    top: 0;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 250px;
    overflow: hidden;
    //background: #E7E2DE;
    a {
        color: #777;
    }
    > header, > footer {
        padding: 0 15px;
    }
    .panel-body {
        text-align: justify;
    }
    .filter-item {
        padding: 5px 10px 5px 0;
        font-size: 90%;
        display: inline-block;
    }
    a.panel-heading {
        display: block;
        font-weight: bold;
        font-size: @font-size-large;
    }
    @media (max-width: @screen-xs-max) {
        position: static;
        width: 100%;
        margin-top: 0;
    }
}

.results {
    min-height: 500px;
    margin-left: 270px;
    @media (max-width: @screen-xs-max) {
        min-height: 0;
        margin-left: 0;
    }
}

.show-more {
    outline: none;
    .box-shadow(none);
}

.restaurant-list-item {
    width: 46%;
    margin: 2%;
    float: left;
    padding-bottom: 10px;
    .box-shadow(0 0 20px rgba(0, 0, 0, .3));
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max),
    (max-width: (@screen-xs-min - 1)) {
        margin: 0 0 20px;
        width: 100%;
        float: none;
    }
    background: #fafafa;
    > header {
        cursor: pointer;
        padding-top: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;
        > img {
            position: absolute;
            bottom: 35px;
            width: 100%;
            min-height: 100%;
        }
        > .fullname {
            font-size: 18px;
            line-height: 35px;
            margin: 0;
            .text-overflow();
        }
    }
    > section {
        padding: 0 10px;
        height: 5.5em;
        overflow: hidden;
        > p {
            .text-overflow();
        }
    }
}

#collapse-recommends .filter-item:first-of-type {
    a {
        color: #ff8c00;
    }
}
