// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.left-panel {
    .box-shadow(2px 0 1px #ddd);
}

.right-panel {
    padding-top: 20px;
    font-size: 90%;
    h1, h2, h3, h4, h5, h6 {
        color: @gray;
    }
}

.restaurant-detail {
    font-size: 90%;
}

#map-canvas {
    width: 100%;
    height: 300px;
}

.hero {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    .carousel {
        padding: 3px;
        border: 1px solid @gray-lighter;
    }
    .carousel-inner, .item {
        height: 100%;
    }
    .carousel-inner > .item > img {
        min-width: 100%;
        max-width: none;
        height: 100%;
    }
}
