// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.fullname {
    line-height: 50px;
}

.picture {
    border-radius: 5px;
    overflow: hidden;
    width: 22%;
    margin-right: 4%;
    margin-bottom: 4%;
    &:nth-child(4n) {
        margin-right: 0;
    }
    float: left;
    @media (max-width: @screen-xs-max) {
        margin: 0 0 20px;
        width: 100%;
        float: none;
    }
    img {
        .square(100%);
        cursor: pointer;
    }
}
