// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";


.simple-view {
    > .container {
        //width: @screen-sm-min;
        p {
            text-indent: 2em;
            line-height: 1.8em;
        }
        padding: 30px 10px;
    }
}

#view-apppromo {
    .wrapper {
        width: 100%;
        background: url("../../img/apppromo-background.jpg") no-repeat bottom;
        background-size: auto 100%;
    }
    .right {
        padding: 10px 10% 0;
        color: #FFF;
        .app-store {
            margin: 10px 0 20px;
        }
        img {
            margin: 10px 0;
        }
    }
    .weixin-browser-prompt {
        position: fixed;
        z-index: 1;
        right: 27px;
        top: 5px;
        text-align: right;
        width: 300px;
    }
    @media (min-width: @screen-sm-min) {
        .wrapper {
            height: 440px;
        }
        .container, .row, .left, .right {
            height: 100%;
        }
        .left {
            position: relative;
            img {
                position: absolute;
                bottom: 0;
            }
        }
        .right {
            padding-top: 30px;
        }
    }
    @media (min-width: @screen-md-min) {
        .wrapper {
            height: 570px;
        }
    }
}

#view-ad-gewara {
    background: url("../../img/ad/gewara-bg.jpg") repeat-y;
    @media (min-width: @screen-sm-min) {
        img.gewara {
            margin-top: -90px;
        }
    }
    .wrapper {
        color: #fff;
        > .container {
            max-width: 700px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .promo-title {
        p {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .btn {
            background: transparent;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
            &:hover {
                color: @gray-light;
                border-color: @gray-light;
            }
        }
    }
}
