// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../variables-custom.less";
@import "../bootstrap/mixins.less";
@import "../mixins-custom.less";




header>.navbar {
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

header.master-header nav {
    padding: 0px 15px;
    border: 0;
}

