<% include ../layout/layout_open.html %>
<div id="view-restaurant-detail" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 left-panel">
                <section class="restaurant-detail"></section>
                <section class="restaurant-reviews"></section>
            </div>
            <div class="col-sm-4 right-panel">
                <div class="panel panel-default">
                    <div class="panel-heading" data-i18n="Order Now">快速订餐</div>
                    <div class="panel-body quick-order"></div>
                </div>
                <div class="panel panel-info restaurant-map">
                    <div class="panel-heading">
                        <i class="fa fa-map-marker fa-lg"></i> <span class="address"></span>
                    </div>
                    <div class="panel-body" id="map-canvas"></div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div><!-- /.container -->
    <% include ../layout/footer.html %>
</div>
<% include ../layout/layout_close.html %>
