<% include ../layout/layout_open.html %>
<div class="view" id="view-restaurant-order">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="order-form-box well">
            <article class="restaurant-info">

            </article>
            <form class="form-horizontal" onsubmit="return false" role="form" id="restaurant-order-form" method="post">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="bg-success form-prompt">预定信息</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" data-i18n="Date">日期</label>

                    <div class="col-sm-10">
                        <input type="text" name="orderdate" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" data-i18n="Time">时间</label>

                    <div class="col-sm-10">
                        <select name="ordertime" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" data-i18n="People">人数</label>

                    <div class="col-sm-10">
                        <input type="number" min="1" value="1" name="personnum" class="form-control">
                    </div>
                </div>
                <div class="form-group club-seat-type">
                    <label class="col-sm-2 control-label">座位</label>

                    <div class="col-sm-10 seat-choose-box">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <label>
                                    <input type="radio" checked value="0" class="" name="clubseattype">
                                    <span id="defaultSeatType">卡座</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" value="1" class="" name="clubseattype">
                                    <span id="">包厢</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="bg-success form-prompt">联系人信息</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <select class="form-control contact-list"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-xs-12 control-label" data-i18n="Name">姓名</label>

                    <div class="col-sm-6 col-xs-6">
                        <input type="text" name="name" class="form-control" placeholder="姓名"
                               data-placeholder-i18n="Name">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <select name="sexe" class="form-control">
                            <option value="0" selected>先生</option>
                            <option value="1">小姐</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" data-i18n="Mobile">手机</label>

                    <div class="col-sm-10">
                        <input type="tel" name="mobile" class="form-control" placeholder="手机"
                               data-placeholder-i18n="Mobile">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="bg-success form-prompt">给美位留言</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" data-i18n="Comment">备注</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" name="other" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary btn-block" data-i18n="Submit Order">提交订单</button>
                    </div>
                    <span class="help-block non_field_errors col-sm-10 col-sm-offset-2"></span>
                </div>
            </form>
            <div class="modal fade" id="order-success-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">确认订单</h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">返回修改</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    id="order-submit-confirm">确认订单
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
