<% include ../layout/layout_open.html %>

<div id="view-restaurant-pictures" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <h4 class="text-center"><a class="fullname" href="#"></a></h4>
        <div class="picture-list clearfix"></div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
