<% include ../layout/layout_open.html %>

<div id="view-restaurant-search" class="view">
    <% include ../layout/header.html %>
    <div class="container">
        <div class="filter-panel well well-sm">
            <header class="clearfix">
                <h4 class="pull-left" data-i18n="Refine Your Search">分类查找</h4>
                <p class="pull-right loading-result hidden"><i class="fa fa-spinner fa-2x fa-spin"></i></p>
            </header>
            <div class="panel-group" id="filter-accordion">
                <div class="panel">
                    <a class="panel-heading" data-toggle="collapse" data-parent="#filter-accordion" href="#collapse-recommends">
                        <span class="fa fa-tag fa-lg fa-fw"></span> <span data-i18n="Top List">美位榜单</span>
                    </a>
                    <div id="collapse-recommends" class="panel-collapse collapse in"><div class="panel-body"></div></div>
                </div>
                <div class="panel">
                    <a class="panel-heading" data-toggle="collapse" data-parent="#filter-accordion" href="#collapse-circles">
                        <span class="fa fa-globe fa-lg fa-fw"></span> <span data-i18n="Popular Circles">热门商圈</span>
                    </a>
                    <div id="collapse-circles" class="panel-collapse collapse"><div class="panel-body"></div></div>
                </div>
                <div class="panel">
                    <a class="panel-heading" data-toggle="collapse" data-parent="#filter-accordion" href="#collapse-cuisines">
                        <span class="fa fa-cutlery fa-lg fa-fw"></span> <span data-i18n="Popular Cuisines">热门菜系</span>
                    </a>
                    <div id="collapse-cuisines" class="panel-collapse collapse"><div class="panel-body"></div></div>
                </div>
            </div>
            <!--<footer><h4 data-i18n="Reset Search">重置搜索</h4></footer>-->
        </div>
        <div class="results">
            <div class="result-list clearfix"></div>
            <button class="btn btn-block show-more hidden" type="button" data-i18n="More...">More...</button>
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
