<% include layout/layout_open.html %>

<div id="view-home" class="view">
	
	<% include layout/header.html %>
	
	<nav class="section-nav hidden-xs">
	    <ul class="nav">
	        <li class="active"><a href="#section-hero" class="text-center"></a></li>
	        <li><a href="#section-concierges" class="text-center"></a></li>
	        <li><a href="#section-restaurants" class="text-center"></a></li>
	        <li><a href="#section-stories" class="text-center"></a></li>
	        <li><a href="#section-cooperations" class="text-center"></a></li>
        </ul>
	</nav>
	
	<section class="hero ar-outer" id="section-hero">
        <div class="ar3 hidden-xs"></div>
        <div class="ar23 visible-xs"></div>
        <div id="homepage-carousel" class="carousel slide ar-inner">
            <ol class="carousel-indicators">
                <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#homepage-carousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner noslide">
                <div class="item active" style="background-image: url(/assets/img/home/header.jpg)"></div>
                <div class="item" style="background-image: url(/assets/img/home/vvip.jpg)"></div>
            </div>
            <a class="left carousel-control" href="#homepage-carousel" data-slide="prev">
                <span class="fa fa-angle-left"></span>
            </a>
            <a class="right carousel-control" href="#homepage-carousel" data-slide="next">
                <span class="fa fa-angle-right"></span>
            </a>
        </div>
    </section>
    
    <section class="introduction" id="section-introduction">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 left">
                    <h1>一站式私人管家</h1>
                    <p><a class="btn btn-lg" href="/ad/apppromo/">免费下载APP</a></p>
                    <p>
                        <span class="fa fa-apple fa-4x fa-fw"></span>
                        <span class="fa fa-android fa-4x fa-fw"></span>
                    </p>
                </div>
                <div class="col-sm-6 text-right right">
                    <img class="qrcode" src="<%- STATIC_URL %>img/social-weixin-qrcode.jpg">
                    <h3>扫一扫 每日精品推荐</h3>
                </div>
            </div>
        </div>
    </section>
    
    <section class="concierges" id="section-concierges">
        <div class="container">
            <div class="section-lead clearfix">
                <div class="icon active pull-left">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-grid.png">
                </div>
                <h1 class="pull-left">六大管家服务</h1>
                <div class="icon pull-right hidden-xs">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-thumbsup-gray.png">
                </div>
                <div class="icon pull-right hidden-xs">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-film-gray.png">
                </div>
            </div>
            <h3 class="text-center section-aside">
                <small>考虑到企业用户大型会务及年会活动等的需求，美位为企业会员设置</small><br>
                <small>私人管家服务，为您记录会议，推荐场地，并协助</small><br>
                <small>您完成会务组织与活动策划。</small>
            </h3>
            <div class="magicbox">
                <div class="magicbox-ar"></div>
                <div class="magicbox-inner"></div>
            </div>
        </div>
    </section>
    
    <section class="restaurants" id="section-restaurants">
        <div class="container">
            <div class="section-lead hidden">
                <h1>美食推荐</h1>
                <p>我们集合了百余家中高端餐饮服务合作商，为您提供在线选位订餐以及限时折扣优惠等独家创意服务，通过在线操作即可完成一站式订餐流程</p>
            </div>
            <div class="section-lead clearfix">
                <div class="icon active pull-left">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-thumbsup.png">
                </div>
                <h1 class="pull-left">美食推荐</h1>
                <div class="icon pull-right hidden-xs">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-grid-gray.png">
                </div>
                <div class="icon pull-right hidden-xs">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-film-gray.png">
                </div>
            </div>
            <div id="restaurants-carousel" data-interval="false" class="carousel slide">
                <div class="slide-frame">
                    <img src="<%- STATIC_URL %>img/home/resto-slide-frame.png">
                </div>
                <div class="carousel-inner">
                    <div class="magicbox item active">
                        <div class="magicbox-ar"></div>
                        <div class="magicbox-inner"></div>
                    </div>
                    <div class="magicbox item">
                        <div class="magicbox-ar"></div>
                        <div class="magicbox-inner"></div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#restaurants-carousel" data-slide="prev">
            <span class="fa fa-angle-left"></span>
        </a>
        <a class="right carousel-control" href="#restaurants-carousel" data-slide="next">
            <span class="fa fa-angle-right"></span>
        </a>
    </section>
    
    <section class="stories" id="section-stories">
        <div class="container">
            <div class="section-lead clearfix">
                <div class="icon active pull-left">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-film.png">
                </div>
                <h1 class="pull-left">美位故事</h1>
                <div class="icon pull-right hidden-xs">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-grid-gray.png">
                </div>
                <div class="icon pull-right hidden-xs">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/home/section-header-thumbsup-gray.png">
                </div>
            </div>
            <div class="story-row clearfix"></div>
            <div class="story-path">
                <img class="img-responsive" src="<%- STATIC_URL %>img/home/story-path.png">
            </div>
        </div>
    </section>
    
    <section class="cooperations" id="section-cooperations">
        <div class="container">
            <h1 class="text-center">品牌选择美位</h1>
            <div class="row"></div>
        </div>
    </section>
    
    <section class="get-started hidden">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1 class="clearfix"><span>跨平台服务</span><img class="pull-right" src="<%- STATIC_URL %>img/home/devices.png" /></h1>
                    <h4 class="text-right">基于HTML5，简单、易用、高度适配</h4>
                    <h4 class="text-right">微信、微博每日推送</h4>
                    <button type="button" class="btn btn-primary">立即体验</button>
                </div>
                <div class="col-sm-5 iphone">
                    <img src="<%- STATIC_URL %>img/home/app-design.png" />
                </div>
            </div>
        </div>
    </section>
	
	<% include layout/footer.html %>
	
</div>

<% include layout/layout_close.html %>
