<% include layout/layout_open.html %>

<div id="view-home" class="view">

<% include layout/header.html %>
<nav class="section-nav hidden-xs">
    <ul class="nav">
        <li class="active"><a href="#section-hero" class="text-center"></a></li>
        <li><a href="#section-concierges" class="text-center"></a></li>
        <li><a href="#section-gift" class="text-center"></a></li>
        <li><a href="#section-vvip" class="text-center"></a></li>
        <li><a href="#section-airport" class="text-center"></a></li>
        <li><a href="#section-app" class="text-center"></a></li>
        <li><a href="#section-story" class="text-center"></a></li>
    </ul>
</nav>
<section class="section-block restaurant-section-block" id="section-hero">
    <div class="container restaurant-container">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-wrapper">
                    <h2 class="normal-text first-header">要氛围清幽、情调浪漫的西餐厅，</h2>

                    <h2>还是要富丽堂皇、景观一流的中餐厅？</h2>

                    <h3>由您随心选择</h3>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3">
                <div class="restaurants restaurant-carousel-wrapper">
                    <div id="restaurants-carousel" data-interval="false" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#restaurants-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#restaurants-carousel" data-slide-to="1" class=""></li>
                            <li data-target="#restaurants-carousel" data-slide-to="2" class=""></li>
                            <li data-target="#restaurants-carousel" data-slide-to="3" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">

                            </div>
                            <div class="item">

                            </div>
                            <div class="item">

                            </div>
                            <div class="item">

                            </div>
                        </div>
                        <a class="left carousel-control" href="#restaurants-carousel" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#restaurants-carousel" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block" id="section-concierges">
    <div class="container content-section">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-left">
                    <h1>应酬太多，疲于赶场？</h1>

                    <h3 class="gray-text">不胜酒力，回去却还要开车？</h3>

                    <h3 class="gray-text">挡酒、代驾，服务到家</h3>
                    <a class="know-more gray-text" href="/product/"><h4>了解更多</h4></a>
                </div>
                <div class="values-relative-box">
                    <div id="values-carousel-0" data-interval="false"
                         class="values-carousel-transition carousel values-carousel-0 value-carousel slide pull-left">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="list-inline list-unstyled">
                                    <li class="col-xs-4">
                                        <a href="/product#style">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/10715ec5ba394be6e151f63c51f13d14.jpg"
                                                 class="img-responsive">
                                            <span>造型设计</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#wine">
                                            <img src="/assets/img/home/product/032a821601a202476502095120e5758e.jpg"
                                                 class="img-responsive">
                                            <span>红酒</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#car">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/2361229d96ff463d472bfcae89671816.jpg"
                                                 class="img-responsive">
                                            <span>租车</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="list-inline list-unstyled">
                                    <li class="col-xs-4">
                                        <a href="/product#car">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/a78eedbffb5a9070e22bde99af650b5d.jpg"
                                                 class="img-responsive">
                                            <span>租车</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#misc">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/e843499e1c27ba0bc3ecb861df6530d32e965e0c.jpg"
                                                 class="img-responsive">
                                            <span>挡酒</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#yacht">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/cbeda18d34715bbef78a0fa455d20ac6b125849f.jpg"
                                                 class="img-responsive">
                                            <span>游艇</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#values-carousel-0" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#values-carousel-0" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-right hidden-xs">
                <div class="">
                    <a href="/product">
                        <img class="img-wine img-responsive custom-pull-right rotate-image"
                             src="/assets/img/home/bg/wine.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block gift-section" id="section-gift">
    <div class="container content-section">
        <div class="row">
            <div class="col-sm-6 hidden-xs">
                <a href="/product"><img class="img-responsive img-heart rotate-image-left"
                                        src="/assets/img/home/bg/gf.jpg"></a>
            </div>
            <div class="col-sm-6">
                <div class="custom-text-right">
                    <h1>她的生日、圣诞、情人节···</h1>

                    <h1>送什么好？</h1>

                    <h1>女孩的心思好难猜！</h1>

                    <h3 class="">Meimei为您选择</h3>
                    <a class="know-more white-text" href="/product/"><h4>了解更多</h4></a>
                </div>
                <div class="values-relative-box">
                    <div id="values-carousel-1" data-interval="false"
                         class="values-carousel-transition values-carousel-1 carousel slide value-carousel custom-pull-right">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="list-inline list-unstyled">
                                    <li class="col-xs-4">
                                        <a href="/product#flower">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/4c99ce8a7467002852df933f905bd7f22c441483.jpg"
                                                 class="img-responsive">
                                            <span>鲜花</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#bcake">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/6805dfbf6cecd466beed3b4d8e7a195098f1003f.jpg"
                                                 class="img-responsive">
                                            <span>生日蛋糕</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#style">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/10715ec5ba394be6e151f63c51f13d14.jpg"
                                                 class="img-responsive">
                                            <span>造型设计</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="list-inline list-unstyled">
                                    <li class="col-xs-4">
                                        <a href="/product#dessert">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/20ae51d254ffe740583948c0a145b94d1ffeb27e.jpg"
                                                 class="img-responsive">
                                            <span>点心</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#dessert"><img
                                                src="http://meiwei.u.qiniudn.com/media/product/9330ce833a98b8afc901d31bb8ae69f71c1c2f9d.jpg"
                                                class="img-responsive">
                                            <span>马卡龙</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#cake"><img
                                                src="http://meiwei.u.qiniudn.com/media/product/2f0febe4172f058925e0218137b7dc74745503a2.jpg"
                                                class="img-responsive">
                                            <span>蛋糕</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#values-carousel-1" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#values-carousel-1" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block" id="section-vvip">
    <div class="container content-section">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-left">
                    <h1>偌大的机场，人山人海</h1>

                    <h3 class="gray-text">想给客户宾至如归的感觉？</h3>

                    <h3 class="gray-text">尊崇“接、送”，来联系Meimei吧！</h3>
                    <a class="know-more gray-text" href="/product/"><h4>了解更多</h4></a>
                </div>
                <div class="values-relative-box">
                    <div id="values-carousel-2" data-interval="false"
                         class="values-carousel-transition carousel values-carousel-2 value-carousel slide pull-left">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="list-inline list-unstyled">
                                    <li class="col-xs-4">
                                        <a href="/product#flower">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/f1c334e85e7505bd962413ae0cb6617717aaa810.jpg"
                                                 class="img-responsive">
                                            <span>鲜花</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#wine">
                                            <img src="/assets/img/home/product/7a392bdb23f9ec8788cc755a88dabcec579e784d.jpg"
                                                 class="img-responsive">
                                            <span>红酒</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#car">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/a78eedbffb5a9070e22bde99af650b5d.jpg"
                                                 class="img-responsive">
                                            <span>租车</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="list-inline list-unstyled">
                                    <li class="col-xs-4">
                                        <a href="/product#misc">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/0eab1c6918fdf3ef14e904e9d8833911_1.jpg"
                                                 class="img-responsive">
                                            <span>保镖</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#pjet">
                                            <img src="/assets/img/home/product/826ee7290ff028f127f143a44b6211.jpg"
                                                 class="img-responsive">
                                            <span>飞机</span>
                                        </a>
                                    </li>
                                    <li class="col-xs-4">
                                        <a href="/product#yacht">
                                            <img src="http://meiwei.u.qiniudn.com/media/product/cbeda18d34715bbef78a0fa455d20ac6b125849f.jpg"
                                                 class="img-responsive">
                                            <span>游艇</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#values-carousel-2" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#values-carousel-2" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-right hidden-xs">
                <div class="">
                    <a href="/product">
                        <img class="img-vvip img-responsive custom-pull-right"
                             src="/assets/img/home/bg/vvip-small.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block vvip-section-block" id="section-airport">
    <div class="container  vvip-container">
        <div class="col-sm-8 vvip-text-box">
            <h1>全程关爱，出行无忧！</h1>
            <p>
                为您的个人差旅、重要客户接待提供便捷和高品质的一站式接送机服务，
                专车接送、协助办票、托运或提取行李、贵宾室专属安检、停机坪专车摆渡等等……
            </p>
            <a class="know-more white-text" href="/services/airport"><h4>了解更多</h4></a>
        </div>

    </div>
</section>
<section class="section-block" id="section-app">
    <div class="container content-section app-section">
        <h2 class="gray-text section-header">如何获得以上便利</h2>

        <div class="row">
            <div class="text-center col-sm-4">
                <div class="col-box-border">
                    <h2>在线预订送积分</h2>
                    <a href="/restaurant/search/"
                       class="order-instance center-block gray-text"><h4>立即下单</h4></a>

                    <p class="margin-top-box">高端餐厅，美位诱惑，一网打尽</p>

                    <a href="/restaurant/search/">
                        <img class="image-center" src="/assets/img/home/computer.png">
                    </a>
                </div>
            </div>
            <div class="text-center app-link-box col-sm-4">
                <div class="col-box-border">
                    <h2>美位手机客户端</h2>
                    <img class="img-responsive" src="/assets/img/home/append/app.png">

                    <p class="margin-top-box">订餐、挡酒、代驾、求婚、活动、典礼···<br>美位私人管家，一切尽在“掌”握</p>
                    <table class="app-link-table">
                        <tbody>
                        <tr>
                            <td>
                                <a href="https://itunes.apple.com/app/id689668571">
                                    <img class="img-responsive app-image" src="/assets/img/app-available-ios.png">
                                </a>
                                <a href="http://web.clubmeiwei.com/assets/MeiweiApp.apk">
                                    <img class="img-responsive app-image" src="/assets/img/app-available-android.png">
                                </a>
                            </td>
                            <td>
                                <img class="img-responsive qr-image" src="/assets/img/ad/qrcode-ios-download.png">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center col-sm-4">
                <div class="col-box-border">
                    <h2>微信扫一扫</h2>

                    <h4 class="gray-text">公众平台：clubmeiwei</h4>

                    <h5 class="gray-text">每日推送，在线客服贴心服务</h5>
                    <img class="img-responsive image-center weixin-qr-image"
                         src="/assets/img/social-weixin-qrcode-large.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block section-story" id="section-story">
    <div class="container story-section content-section">
        <h2 class="gray-text section-header text-center">使用心得</h2>

        <div class="row">
            <div class="col-sm-6 story-box clearfix">
                <p>
                    要请几位重要客户吃饭，让美位帮忙定位，但是因为行程的关系，用餐时间几次改变，多亏Meimei能够及时帮我跟餐厅沟通，最后更换了包厢，还帮忙免去包厢费。现在客户非常满意，感谢美位的贴心服务！ </p>

                <div class="user-profile pull-right">
                    <img src="/assets/img/home/user-profile/member-z.jpg">
                    <span>会员Z先生</span>
                </div>
            </div>
            <div class="col-sm-6 story-box clearfix">
                <p>
                    我在策划向女友求婚的时候，是美位为我提供了氛围浪漫的餐厅和不受打扰的餐位，还有现场的布置点缀和乐手的伴奏，帮我求婚成功，为我和我的未婚妻营造了一份弥足珍贵的记忆！。
                </p>

                <div class="user-profile pull-right">
                    <img src="/assets/img/home/user-profile/member-l.jpg">
                    <span>会员L先生</span>
                </div>
            </div>
            <div class="col-sm-6 story-box clearfix">
                <p>
                    微信订餐很方便，随叫随订，甚至中午想起来要半岛的下午茶，也可以很方便及时地订到位子。
                </p>

                <div class="user-profile pull-right">
                    <img src="/assets/img/home/user-profile/lady-f.jpg">
                    <span>
                        会员F女士
                    </span>
                </div>
            </div>

            <div class="col-sm-6 story-box clearfix">
                <p>
                    和美位合作很愉快，我们之间的互相信任，以及美位的及时沟通，建立畅通联系是关键。大家都很满意！
                </p>

                <div class="user-profile pull-right">
                    <img src="/assets/img/home/user-profile/lady-x.jpg">
                    <span>
                        合作商户X女士
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<% include layout/footer.html %>

</div>

<% include layout/layout_close.html %>
