
#dialog-member-login {
    .modal-dialog {
        max-width: 400px;
        .center-block;
    }
    .register-link {
        margin-top: 10px;
        display: block;
    }
}

#confirm-dialog {
    .modal-dialog{
        max-width: 400px;
        .center-block;
    }
    table{
        margin-bottom: 0px;
        th,td {
            border-top: 0px;
            min-width: 5em;
        }
    };
    .modal-footer {
        margin-top: 0px;
    }
    .guest-table>tbody>tr>td {
        padding-left: 10px;
    }
}
