.rating {
    color: #F39C12;
    white-space: nowrap;
    .star:before {
        content: "\f005";
    }
    &.r1 .star:nth-child(n+2):before {
        content: "\f006";
    }
    &.r2 .star:nth-child(n+3):before {
        content: "\f006";
    }
    &.r3 .star:nth-child(n+4):before {
        content: "\f006";
    }
    &.r4 .star:nth-child(n+5):before {
        content: "\f006";
    }
}

.rating-badge {
    .square(100px);
    background-image: url(../img/rating-badge.png);
    background-repeat: no-repeat;
    background-size: 100px 500px;
    &.r1 {
        background-position: 0 0;
    }
    &.r2 {
        background-position: 0 -100px;
    }
    &.r3 {
        background-position: 0 -200px;
    }
    &.r4 {
        background-position: 0 -300px;
    }
    &.r5 {
        background-position: 0 -400px;
    }
}
