
body > .view {
	position: relative;
	margin-top: 50px;
}

header.master-header {
    position: fixed;
    z-index: @zindex-navbar-fixed;
    left: 0;
    top: 0;
    width: 100%;
    
    @master-header-bg: #fefefe;
    background: @master-header-bg;
    .box-shadow(0 1px 10px @gray-light);
    
    nav {
        position: relative;
        padding: 8px;
        height: 50px;
        background: @master-header-bg;
    }
    .form-group {
        display: inline;
		margin-bottom: 0;
        vertical-align: middle;
	}
    .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        border-width: 1px;
        border-color: @gray-light;
	}
    .btn {
        color: @gray-light; 
        border-color: @gray-light;
        background: @master-header-bg;
        &:hover { background: darken(@master-header-bg, 5%); }
	}
    .search-btn {
        margin-left: -4px;
        border-left-width: 0;
	}
    .search-input {
        .transition(width .35s ease-in-out);
        width: 150px;
        &:focus, &:hover { width: 200px; }
        @media (max-width: @screen-xs-max) {
            max-width: 100px !important;
        }
    }
    .logo, .logo-hover {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -35px;
        .square(70px);
        .border-radius(35px);
    }
    .logo {
        z-index: 1;
        overflow: hidden;
        img { .square(100%); }
    }
    .logo-hover {
        z-index: -1;
        background: @master-header-bg;
        .box-shadow(0 1px 10px @gray-light);
        .transition(all .5s ease-in-out);
        font-size: 60%;
        font-family: @font-family-sans-serif;
        color: @brand-primary;
        padding-top: 15px;
        &:hover, &.hover {
            .scale(2, 2);
            padding-top: 50px;
        }
    }
}

footer.master-footer {
    @spliter-color: #ccc;
    @header-color: #f7f7f7;
    background-color: @header-color;
    border-top: 1px solid @spliter-color;
    //.box-shadow(0 -1px 10px @gray-light);
    &, a { color: @gray; }
    padding: 20px 0;
    text-align: center;
    font-size: 90%;
    h1 {
        font-size: @font-size-h3;
        margin: 10px 0 20px;
    }
	@media (min-width: @screen-sm-min) {
	    section.aboutus, section.app, section.social, section.contact {
    	    height: 300px;
    	    border-right: 1px solid @spliter-color;
    	    &:last-child {
    	        border-right: none;
    	    }
    	}
    }
	section.app {
        img.chinese, img.english { .size(50px, 32px); }
        img.ios, img.android { width: 120px; }
    }
    section.social {
        .weibo-logo { .square(40px); }
        .weixin-qrcode { .square(120px); }
    }
    .copyright {
        margin-top: 30px;
        color: @gray-light;
    }
}

.ar-outer {
    position: relative;
    .ar, .ar1 { padding-bottom: 100%; }
    .ar2 { padding-bottom: 50%; }
    .ar3 { padding-bottom: 33.333333%; }
    .ar23 { padding-bottom: 66.666666%; }
    .ar-inner {
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        height: 100%; width: 100%;
    }
}

.global-info-prompt-box {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    .opacity(0);
    .transition(all 1s ease-in-out);
    &.show {
        top: 50px;
        .opacity(1);
    }
    .alert {
        min-height: 50px;
        padding:15px;
        border-radius: 0;
    }
}
