
.magicbox {
    overflow: hidden;
    position: relative;
}

.magicbox-ar {
    padding-bottom: 66.666666%;
}

.magicbox-inner {
    .clearfix;
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%; width: 100%;
}

.magicbox-item {
    float: left;
    width: 33.333333%;
    height: 50%;
    border: 1px solid transparent;
    overflow: hidden;
    img {
        .transition(all .2s ease-in-out);
        width: 100%;
    }
    &.cover img { .opacity(0); }
    &.cover:hover img { .opacity(1); }
}

@media (max-width: @screen-xs-max) {
    .magicbox-ar {
        padding-bottom: 150%;
    }
    .magicbox-item {
        width: 50%;
        height: 33.333333%;
        border: 0;
        &.cover img { .opacity(1); }
    }
}
