.slider {
    position: relative;
    overflow: auto;
    > ul {
        .clearfix;
        padding: 0;
        margin: 0;
        position: relative;
    }
    > ul > li {
        float: left;
        list-style: none;
    }
    > .dots {
        position: absolute;
        right: 10%;
        bottom: 10px;
    }
    > .dots > li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        
        text-indent: -999em;
        
        border: 1px solid #fff;
        border-radius: 6px;
        
        cursor: pointer;
        opacity: .4;
        
        -webkit-transition: background .5s, opacity .5s;
        -moz-transition: background .5s, opacity .5s;
        transition: background .5s, opacity .5s;
    }
    > .dots > li.active {
        background: #fff;
        opacity: 1;
    }
}
