<% include ../layout/layout_open.html %>

<div id="view-apppromo" class="view">
    <% if (!is_weixin) { %>
        <% include ../layout/header.html %>
    <% } %>
    <% if (is_weixin) { %>
        <div class="weixin-browser-prompt clearfix">
            <p class="pull-right">
                <i class="glyphicon glyphicon-arrow-up"></i>
            </p>
            <p class="pull-right">请点击此处，选择<strong>"在浏览器中打开"</strong><br>直接下载应用</p>
        </div>
    <% } %>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 left hidden-xs">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/apppromo-large.png" alt="">
                </div>
                <div class="col-sm-8 right">
                    <h1 class="text-left">美位</h1>
                    <h3 class="text-left">您的专属私人管家</h3>
                    <h4 class="text-right">Your Private Concierge</h4>
                    <p>订餐，代驾，鲜花，蛋糕，乐队……<br>餐饮管家服务，尽在"掌"握，微信公众平台：clubmeiwei</p>
                    <% if (!is_weixin) { %>
                    <div class="app-store row">
                        <a class="col-xs-6" href="https://itunes.apple.com/app/id689668571">
                            <img class="img-responsive" src="<%- STATIC_URL %>img/app-available-ios.png" alt="">
                            <img class="img-responsive hidden-xs" src="<%- STATIC_URL %>img/ad/qrcode-ios-download.png" alt="">
                        </a>
                        <a class="col-xs-6" href="http://web.clubmeiwei.com/assets/MeiweiApp.apk">
                            <img class="img-responsive"src="<%- STATIC_URL %>img/app-available-android.png" alt="">
                            <img class="img-responsive hidden-xs" src="<%- STATIC_URL %>img/ad/qrcode-android-download.png" alt="">
                        </a>
                    </div>
                    <% } %>
                </div>
                <div class="col-sm-4 left visible-xs">
                    <img class="img-responsive" src="<%- STATIC_URL %>img/apppromo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
