<% include ../layout/layout_open.html %>

<div id="view-ad-gewara" class="view">
    <% include ../layout/header.html %>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 promo-title">
                    <h1>美位·马上送礼</h1>
                    <p>2014年1月7日起，礼品送完即止</p>
                    <p>
                       <a class="btn btn-lg" role="button" href="/restaurant/search/">立即订餐</a>
                       <a class="btn btn-lg" role="button" href="/ad/apppromo/">下载应用</a>
                    </p>
                </div>
                <div class="col-sm-6 promo-detail hidden-xs">
                    <h3>马上“有礼”三步走：</h3>
                    <h5>1. 通过以下美位三大平台订餐</h5>
                    <ul>
                        <li>网站</li>
                        <li>手机应用（通过App Store 或 91助手搜索“美位”）</li>
                        <li>美位官方微信平台（微信号：clubmeiwei）</li>
                    </ul>
                    <h5>2. 完成用餐</h5>
                    <h5>3. 获得礼品</h5>
                </div>
            </div>
            <div class="row">
                <img class="img-responsive gewara" src="<%- STATIC_URL %>img/ad/gewara.png">
            </div>
            <div class="promo-detail visible-xs">
                <h3>马上“有礼”三步走：</h3>
                <h5>1. 通过以下美位三大平台订餐</h5>
                <ul>
                    <li>网站</li>
                    <li>手机应用（通过App Store 或 91助手搜索“美位”）</li>
                    <li>美位官方微信平台（微信号：clubmeiwei）</li>
                </ul>
                <h5>2. 完成用餐</h5>
                <h5>3. 获得礼品</h5>
            </div>
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>

<% include ../layout/layout_close.html %>
