
<table class="table table-condensed">
    <tr>
        <th>餐厅</th>
        <td>{{restaurant_fullname}}</td>
    </tr>
    <tr>
        <th data-i18n="Contacts">联系人</th>
        <td>
            {{ contactname }}
            {{ ^contactgender }}<span data-i18n="Mr.">先生</span>{{ /contactgender }}
            {{ #contactgender }}<span data-i18n="Ms.">小姐</span>{{ /contactgender }}
        </td>
    </tr>
    <tr>
        <th data-i18n="Mobile">联系方式</th>
        <td>{{ contactphone }}</td>
    </tr>
    <tr>
        <th data-i18n="Date">日期</th>
        <td>{{ orderdate }}</td>
    </tr>
    <tr>
        <th data-i18n="Time">时间</th>
        <td>{{ ordertime }}</td>
    </tr>
    <tr>
        <th data-i18n="People">人数</th>
        <td>{{ personnum }}</td>
    </tr>
    {{ #other }}
    <tr>
        <th data-i18n="Comment">备注</th>
        <td>{{ other }}</td>
    </tr>
    {{ /other }}
</table>
<p class="well-sm order-prompt-paragraph" data-i18n="An SMS will be sent to you to inform you the order has been confirmed"></p>




