<a href="/restaurant/{{id}}"><h3>{{fullname}}</h3></a>
<div class="text-center">
    <a href="/restaurant/{{id}}">
        <img class="img-responsive restaurant-img" src="{{frontpic}}">
    </a>
</div>
