<header>
    <img src="{{{ frontpic }}}" />
    <h1 class="text-center fullname">{{{ fullname }}}</h1>
</header>
<section>
    <p class="text-center">
        <span class="rating r{{score}}">
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
        </span>
        <strong class="small">人均: {{ price }}</strong>
    </p>
    <p class="text-center">{{{ address }}}</p>
    <p class="text-center">{{{ discount }}}</p>
</section>
