<header>
    <h2>
        <span>{{fullname}}&nbsp;</span>
        <small class="rating r{{score}}">
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
            <i class="fa star fa"></i>
        </small>
    </h2>
    <h4><small><i class="fa fa-map-marker"></i> {{address}}</small></h4>
</header>

<section class="hero ar-outer">
    <div class="ar23"></div>
    <div id="restaurant-pics-carousel" class="carousel slide ar-inner" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item"><img src="{{frontpic}}" alt=""></div>
            {{#pictures}}
                <div class="item"><img src="{{path}}" alt=""></div>
            {{/pictures}}
        </div>
        <a class="left carousel-control" href="#restaurant-pics-carousel" data-slide="prev"><span class="fa fa-angle-left"></span></a>
        <a class="right carousel-control" href="#restaurant-pics-carousel" data-slide="next"><span class="fa fa-angle-right"></span></a>
    </div>
</section>

<article>
    <div class="well well-sm">
        <p>{{{description}}}</p>
        <p><i class="fa fa-cny fa-fw fa-lg"></i> <span><span data-i18n="Price">人均</span>: ￥{{price}}</span></p>
        <p><i class="fa fa-clock-o fa-fw fa-lg"></i> <span>{{workinghour}}</span></p>
        <p><i class="fa fa-map-marker fa-fw fa-lg"></i> <span>{{parking}}</span></p>
    </div>
    {{#discount}}
    <div class="well well-sm">
        <h3><i class="fa fa-thumbs-o-up fa-lg"></i> <span data-i18n="Discount">美位优惠</span></h3>
        <p>{{{discount}}}</p>
    </div>
    {{/discount}}
</article>
