<form action = "/restaurant/{{id}}/order/" method="get">
    <div class="form-group">
        <div class="input-group restaurant-input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-calendar fa-lg"></i></span>
            <input type="text" name="orderdate" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="dropdown input-group restaurant-input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-clock-o fa-lg"></i></span>
            <select name="ordertime" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-users fa-lg"></i></span>
            <input type="number" min="1" value="1" name="personnum" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block" data-i18n="Submit">快速预定</button>
</form>
