<a href="{{source}}">
    <img class="story-img img-circle" src="{{image}}">
    <div class="story-title">
        <img class="story-title-bg" src="/assets/img/home/story-title-bg.png">
        <p class="text-center">{{{title}}}</p>
    </div>
</a>
