<div class="stack">
    {{#recommenditem_set}}
    <div class="img-item"><img src="{{{restaurant.frontpic}}}"></div>
    {{/recommenditem_set}}
    <div class="title">
        <h5><strong>{{name}}</strong></h5>
    </div>
</div>
