<footer class="master-footer">
    <div class="container">
        <div class="row">
            <section class="col-sm-3 aboutus">
                <h1>关于美位</h1>

                <div class="row">
                    <div class="col-xs-6 text-right">
                        <p><a href="/aboutus/aboutus/">关于美位</a></p>

                        <p><a href="/aboutus/terms/">服务条款</a></p>

                        <p><a href="/aboutus/declare/">免责说明</a></p>

                        <p><a href="/aboutus/privacy/">隐私说明</a></p>

                        <p><a href="/aboutus/faq/">FAQ</a></p>
                    </div>
                    <div class="col-xs-6 text-left">
                        <p><a href="/aboutus/points/">会员制度</a></p>

                        <p><a href="/aboutus/services/">企业服务</a></p>

                        <p><a href="/aboutus/business/">商户合作</a></p>

                        <p><a href="/aboutus/aboutus/">广告服务</a></p>

                        <p><a href="/aboutus/aboutus/">媒体报道</a></p>
                    </div>
                </div>
            </section>
            <section class="col-sm-3 app">
                <h1>使用美位</h1>

                <p>美位网提供两种语言</p>

                <p>
                    <a href="javascript:void(0)">
                        <img class="english lang-opt en" src="<%- STATIC_URL %>img/lang-en.png"/>
                    </a>
                    <a href="javascript:void(0)">
                        <img class="chinese lang-opt zh" src="<%- STATIC_URL %>img/lang-zh.png"/>
                    </a>
                </p>

                <p>美位网建议使用手机应用订餐</p>

                <p>
                    <a href="/ad/apppromo/">
                        <img class="ios" src="<%- STATIC_URL %>img/app-available-ios.png" alt="">
                    </a>
                </p>

                <p>
                    <a href="/ad/apppromo/">
                        <img class="android" src="<%- STATIC_URL %>img/app-available-android.png" alt="">
                    </a>
                </p>
            </section>
            <section class="col-sm-3 social">
                <h1>关注我们 </h1>
                <p><img class="weixin-qrcode" src="<%- STATIC_URL %>img/social-weixin-qrcode.jpg"/></p>
                <p>微信公众平台：clubmeiwei</p>
                <a href="http://e.weibo.com/u/3058840707">
                    <img class="weibo-logo" src="<%- STATIC_URL %>img/social-weibo.png"/>
                    <span>@美位网</span>
                </a>
            </section>
            <section class="col-sm-3 contact">
                <h1>联系我们</h1>
                <address>
                    <p>上海美位电子商务有限公司</p>
                    <p>(Tel.) 021-60515617</p>
                    <p>国定东路200号1号楼1009室</p>
                    <p>邮编 200433</p>
                </address>
                <h4><a href="/aboutus/career/">加入美位 →</a></h4>
                <p>hr@clubmeiwei.com</p>
            </section>
        </div>
        <div class="copyright">
            <p>Copyright@2013 Meiwei 沪ICP备13004528号</p>
        </div>
    </div>
</footer>

<div class="global-info-prompt-box">
    <div class="alert alert-success">
        <button type="button" class="close prompt-close" aria-hidden="true">&times;</button>
        <div class="info-prompt text-center"></div>
    </div>
</div>
