<header class="master-header">
    <div class="container">
        <nav class="clearfix">
            <form class="pull-left hidden-xxs" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search-input"
                        placeholder="搜索" data-placeholder-i18n="Search">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn search-btn"><i class="fa fa-search"></i></button>
                </div>
                <div class="form-group">
                    <a class="btn" href="/restaurant/search/" data-i18n="Browse">浏览</a>
                </div>
            </form>
            <div class="pull-right anonymous hidden">
                <a class="btn" href="/member/login/" data-i18n="Login">登录</a>
                <a class="btn hidden-xxs" href="/member/register/" data-i18n="Register">注册</a>
                <a class="btn hidden-xs" href="/aboutus/points/" data-i18n="Credits">积分</a>
            </div>
            <div class="pull-right loggedin hidden">
                <a class="btn" href="/member/" data-i18n="Member Center">用户中心</a>
                <a class="btn logout hidden-xxs" href="javascript:void(0)" data-i18n="Logout">注销</a>
                <a class="btn hidden-xs" href="/member/" data-i18n="Credits">积分</a>
            </div>
            <a class="logo" href="/">
                <img class="img-circle" src="<%- STATIC_URL %>img/logo@100x100.jpg" alt="">
            </a>
            <div class="logo-hover text-center"><strong>美 位 网</strong></div>
        </nav>
    </div>
</header>
