
<% include ../common/login_dialog.html %>

<script>
    var serverData = {};
    <% if (SERVER_DATA) { %>
        serverData = <%- SERVER_DATA %>
    <% } %>
    <% if (weixin_info) { %>
        var weixinInfo = <%- weixin_info %>
        if (weixinInfo.openid) localStorage.setItem('wxuid', weixinInfo.openid);
    <% } %>
</script>

<script src="<%- STATIC_URL %>js/vendor/jquery-1.10.2.min.js"></script>
<script src="<%- STATIC_URL %>js/vendor/underscore-min.js"></script>
<script src="<%- STATIC_URL %>js/vendor/mustache.js"></script>
<script src="<%- STATIC_URL %>js/vendor/backbone-min.js"></script>

<script src="<%- STATIC_URL %>js/bootstrap.js"></script>
<script src="<%- STATIC_URL %>js/plugins.js"></script>
<script src="<%- STATIC_URL %>js/templates.js?b=<%- BUILD %>"></script>
<script src="<%- STATIC_URL %>js/mw-app.js?b=<%- BUILD %>"></script>

<% STATIC_JS.forEach(function(js){ %>
    <script src="<%- STATIC_URL %>js/<%- js %>?b=<%- BUILD %>"></script>
<% }) %>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-40624648-4', 'clubmeiwei.com');
    ga('send', 'pageview');
</script>

</body>
</html>
