<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>美位</title>
    <meta name="description" content="cccc">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    
    <link rel="icon" href="<%- STATIC_URL %>img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="<%- STATIC_URL %>img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="<%- STATIC_URL %>css/bootstrap.css">
    <link rel="stylesheet" href="<%- STATIC_URL %>css/bootstrap-theme.css?b=<%- BUILD %>">
    <link rel="stylesheet" href="<%- STATIC_URL %>css/main.css?b=<%- BUILD %>">
    <% STATIC_CSS.forEach(function(css){ %>
        <link rel="stylesheet" href="<%- STATIC_URL %>css/<%- css %>?b=<%- BUILD %>">
    <% }) %>

    <script src="<%- STATIC_URL %>js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
